.flex_header{
	height:70px;
	width:100%;
	position: relative;
	z-index: 300;
}

.div_flex_item{
	width:80%;
	margin:auto;
	margin-top:30px
}

.flex_item{
	min-height: 50px;
	/*max-height: 100%;*/
	width:80%;	
	background-color:rgba(0,0,0,.7);
	display: flex;
	padding: 5px;
	margin: auto;
	border-radius:10px;	
	box-sizing: border-box;
	overflow: hidden;
	user-select: none;
	
}


.flex_item .div_center{
	display: flex;
	vertical-align:middle;
	

}
.flex_item .div_center p{
	font-family: Quicksand;
	font-size: 20px;
	font-weight: bold;
}
.flex_item .icon_left{	
	/*float:left;*/
	display:flex;
	align-items:center;
	font-size:35px;
	color:lightgreen;
	transform:rotate(180deg);
	/*margin-top:8px;*/
	margin-left:10px;
	display:flex;
	align-items:center;
	cursor: pointer;
	align-items: center;
}
.flex_item .icon_right{	
	/*float:right;*/
	display:flex;
	align-items:center;
	font-size:35px;
	color:lightgreen;
	margin-right:10px;	
	cursor: pointer;
	align-items: center;

}
.div_iconleft{
	display:flex;
	align-items:center;
	justify-content:flex-start;
}
.div_iconright{
	display:flex;
	align-items:center;
	justify-content:flex-end;
}