<div class="flex_header">
	<div class="div_flex_item">
		<div class="flex_item" >
			<div class="w15 div_iconleft">
			<!-- condition en ngClass método1 -->
				<mat-icon class="icon_left"  (click)="sendPanel(0)" >double_arrow</mat-icon>
			</div>
			<div class="w70 div_center" style="">
				<p class="mauto c_white">Actividades multiaventura</p>	
			</div>
			<div class="w15 div_iconright">
			<!-- condition en ngClass método2 -->
				<mat-icon class="icon_right"  (click)="sendPanel(1)" >double_arrow</mat-icon>
			</div>
		</div>
	</div>
</div>