<!--<div style="position:relative;height:100%;display:block">-->
<!--<div style="position: absolute;height:100%;display:block;overflow:hidden" >-->
<div #slidercardrent style="display:flex;flex-flow:row wrap;height:100%;transition:transform 1s ease-out" [ngStyle]="{'width':firstwidth*3+'px'}">
<!-- panel feedback -->
	<div [ngStyle]="{'width':firstwidth+'px','left':'-'+firstwidth+'px'}" style="position:absolute;display:block">	
	
		

		<div style="display:flex;position:relative" > 
			<!--<button (click)="misectionHorizontal(firstwidth+'px','1s','right')" style="position:absolute">final</button>
			<button (click)="misectionHorizontal(firstwidth+'px','1s','center')" style="position:absolute;right:300px">derecha</button>-->

				
				<div class="div_flex_card" style="display:block">

				<div class="flex_header " style="position:relative; color:white;font-weight:bold">
					<div class="div_flex_item " style="justify-content:center;">
						<pre-feedback></pre-feedback>
					</div>
				</div>

				<div class="w100 mauto div_card_rent" style="" >
					<!--<pre-newcard (modal)="setModal($event)"></pre-newcard>-->
					
				</div>
			</div>
		</div>
	</div>
<!-- panel rentcard -->
	<div [ngStyle]="{'width':firstwidth+'px'}" class="back_card">
		<!--modal algo distinto al globalModal que está acomodado con display flex--> 
		<div class="back_modal" [ngStyle]="switchModalCardRent ? {'z-index':'300','opacity':'1'}:{'z-index':'0','opacity':'0'}" (click)="handlerModal(null)">
			<div class="modal_delete" >
				<div style="position:relative;transition:all 0.5s linear" >
					<p style="color:white;font-size:15px;font-weight:bold">
						{{textModal}}
					</p>
					<button class="floatL" mat-raised-button (click)="handlerModal(dataModal)">Ok</button> 
					<button class="floatR" mat-raised-button (click)="handlerModal(null)">Cancelar</button> 
				</div>
			</div>
		</div>
	<!-- fin modal -->		
		<div class="div_card"  >

			<!--<button (click)="misectionHorizontal(firstwidth+'px','1s','left')" style="position:absolute">izquierda</button>
			<button (click)="misectionHorizontal(firstwidth+'px','1s','right')" style="position:absolute;right:100px">derecha</button>-->

				<pre-card></pre-card>
		</div>
	</div>
<!-- panel create rentcard -->
	<div [ngStyle]="{'width':firstwidth+'px'}">
		<div style="display:flex;position:relative;" >
			<!-- modal para imagen no válida -->
			<!--<div style="position:absolute;width:100%;height:100vh;background-color:rgba(0,0,0,.3);display: flex;align-items: center;z-index:110;margin:auto;justify-content:center" *ngIf="switchModalNewCard">
				<div style="background-color:rgba(0,0,0,.8);color:white;padding:0 15px">
					<p style="font-size:15px">{{textModal}}</p>
					<p style="justify-content:center;text-align:center">
						<button mat-button (click)="setModal(false)">OK</button>					
					</p>
				</div>
			</div>-->
			<pre-modal></pre-modal>
			<!-- fin modal -->

			<!--<button (click)="misectionHorizontal(firstwidth+'px','1s','center')" style="position:absolute">izquierda</button>-->
			<div class="div_flex_card" style="display:block;">

				<pre-newcard-header></pre-newcard-header>

				<div class="w100 mauto div_card_rent" style="" >

					<pre-newcard></pre-newcard>
					
				</div>
			</div>
				<!--<pre-card></pre-card>-->
		</div>
</div>
<!--</div>-->
<!--</div>-->
