<!--modal --> 
<div style="width:100%;height:100%;position:absolute;background-color:rgba(0,0,0,.4);cursor:pointer" *ngIf="switchModalCardRent" (click)="switchModalCardRent=false">
	<div style="position:absolute;top: 50%;left: 50%;transform:translate(-50%,-50%);background-color: rgba(0,0,0,.8);padding:10px 20px">
		<p style="color:white;font-size:15px">
			{{textModal}}
		</p>
		<button mat-raised-button (click)="switchModalCardRent=false">Ok</button> 
	</div>
</div>
<!-- fin modal -->

<div class="div_flex_card">
				
	<pre-card-header (emitWidth)="emitir($event)" (modal)="setModal($event)"></pre-card-header>
	<div class="w100 mauto div_card_rent" style="margin-top:100px" >

		<pre-card-content ></pre-card-content>
	</div>
</div>
