/* estilos nav header  */
.nav_header{
	align-items:center;
	display:flex;
	height:100%;
	margin:auto;
	width:80%;
}
.nav_header .header{
	align-items:center;
	background-color:rgba(0,0,0,.8);
	border-radius:15px;	
	display:flex;
	height:50px;
	justify-content: space-between;
	width:100%;
}
/* OPTIMIZAR CÓDIGO CON STYLES.CSS PARA EVITAR CRUCES(SOBREESCRITURA) */
.nav_header .header .div_iconmove{
	position:relative;
	width:10%;
}
.nav_header .header .div_iconmove.left{
	display:flex;
	font-size:20px;
	justify-content:flex-start;
	margin-left:10px;
}

.nav_header .header .div_iconmove.left .mat-icon{
	transform:rotate(180deg);
	
}
/*estilos a los botnes de componente de navegación laterales(flechas que permiten desplazarse en el eje X)*/
.nav_header .header .div_iconmove .mat-icon{
	color:#37e369;
	cursor:pointer;
}
.nav_header .header .div_iconmove .mat-icon:hover{
	color:#D3D3D3;
}
.nav_header .header .div_iconmove .mat-icon:active{
	color:#37E369;
}

.div_iconmove .mat-icon{
	align-items:center;
	display:flex;
	font-size:28px;
}
.nav_header .header .div_iconmove.right{
	display:flex;
	justify-content:flex-end;
	margin-right:10px;
}
.nav_header .header .nav_title{
	color:#D3D3D3;
	display:flex;
	justify-content:center;
	width:80%;
}
.nav_header .header .nav_title p{
	font-family:Quicksand;
	font-size:20px;
	font-weight:bold;
}

/* fin estilos nav header  */