<div class="nav_header">
	<div class="header">
		<div class="div_iconmove left" >			
			<mat-icon *ngIf="panels.left" matTooltipClass="bx_tooltip"   (click)="sendPanel(panels.left)" [matTooltip]="panels.tooltip_left" >double_arrow</mat-icon>
		</div>
		<div class="nav_title">
			<p>{{title}}</p>
		</div>
		<div class="div_iconmove right"  (click)="sendPanel(panels.right)">
			<mat-icon *ngIf="panels.right" matTooltipClass="bx_tooltip"   [matTooltip]="panels.tooltip_right" >double_arrow</mat-icon>
			
		</div>
	</div>
</div>
