<div class="flex_content">
<!-- modal -->
	<div class="modal_detail" [ngStyle]="switchModal ? {'transform':'scale(1)'}:{'transform':'scale(0)'}">					
		<mat-icon style="color:white;position:absolute;right:2%;top:2%;cursor:pointer" (click)="switchModal=false;">close</mat-icon>		
		<h2 class="modal_title" >{{titleModal}}</h2>
		<img class="modal_image" src="{{imageModal}}" />
		<p class="modal_text">{{textModal}}</p>
	</div>
<!-- fin modal -->
	<div class="div_box" *ngFor="let place of places">
		<span class="box_image" (click)="hideFilter(0)">
			<div class="clone_div_image" ></div>
			<div class="div_image" >
				<div class="title_image">
					<mat-icon class="icon_image" (click)="showModal(place)" title="Más información">info</mat-icon>
					<p class="text_title" >{{place.title}}</p>
				</div>
				<img src="{{place.image}}" alt="" class="div_ima">
			<!--<h2 class="image_title">Imagen 1</h2>-->
			</div>
		</span>
	</div>				
</div>
