<div #midivslider  style="height:100%;display:flex;flex-flow:row wrap;transition:transform 1s linear" [ngStyle]="{'width':firstwidth*2+'px'}" >
<!--<div style="width:100%;">-->
	<div [ngStyle]="{'width':firstwidth+'px'}" style="" >
		<div style="width:90%;height: 100vh;position: relative;background-color:transparent;margin:auto;display:flex;">
			
			<!--<button (click)="sendToPanel(firstwidth+'px','1s','panel-left')" style="position:absolute">ñlaskjdf</button>-->
			
			<div class="div_flex">

				<pre-activity-header titleProximity="Lugares cercanos a Arroyo Frío" [panel]="selectedPanel" (sendToPanel)="sendToEmit($event)"></pre-activity-header>
				
				<pre-activity-content></pre-activity-content>
			</div>	
		</div>
	</div>
	<div [ngStyle]="{'width':firstwidth+'px'}" style="position:relative">
		<div style="width:90%;height: 100vh;position:relative;z-index: 88;background-color:transparent;margin:auto;display:flex">
			
			<!--<button (click)="sendToPanel(firstwidth+'px','1s','panel-right')" style="position:absolute">ñlaskjdf</button>-->
			
			<div class="div_flex">

				<pre-activity-header titleProximity="Lugares próximos a Arroyo Frío" [panel]="selectedPanel" (sendToPanel)="sendToEmit($event)"></pre-activity-header>

				<pre-activity-content></pre-activity-content>
			</div>
		</div>
	</div>
<!--</div>-->
</div>
