.back_activity{
	height:100%;
	display:flex;
	flex-flow:row wrap;
	transition:transform 1s linear
}
.box_activity{
	width:100%;
	height: 100%;
	margin: 20px auto;
	overflow:hidden
}
.div_activityheader{
	width:90%;
	margin:auto
}
.div_activitycontent{

	/*position:relative;*/
	width:100%;
	height: 70vh;
	margin:auto;
	/*padding: 25px;*/
	/*background-color: rgba(0,0,0,.7);*/

	overflow:auto;
	/*border: #676767 1px solid;*/
}






