		/*              galery con grid                */


.gallery-container{	
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/*grid-auto-rows: 200px;*/
	/*pasamos a minmax para poder establecer con height el botón de cierre*/
	grid-auto-rows: minmax(20px 200px);
	grid-gap: 10px;
	/*height: calc(100vh - 90px);*/
	height: 0;	
	
}
.gallery-container div{
	grid-auto-rows: 200px;
	grid-column-start: span 1;

}
/*boton de cierre (siempre centrado, ocupa x columnas según resolución)*/

.gallery-container .gallery_first{
	grid-column-start:span 3;
	height: 20px;

	
	
}
.gallery-container div:first-child{
	
}

.gallery__img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;

}
.gallery__item{
	position: relative;
	/*grid-column-start: span 3 !important;*/
}
	

				/* media queries */

@media (max-width: 1200px){
	
	.gallery-container{
		grid-template-columns: repeat(2, 1fr);

	}
	.gallery-container div{
		grid-auto-rows: 200px;

	}
	/*boton de cierre (siempre centrado, ocupa x columnas según resolución)*/
	.gallery-container .gallery_first{
		grid-column-start:span 2;
	}

	.gallery__item:nth-child(n){
		/*
		grid-column-start: auto;
		grid-row-start: auto;
		*/
	}
}

@media (max-width: 900px){
	.gallery-container{
		grid-template-columns: repeat(2, 1fr);
	}
	.gallery-container div{
		grid-template-columns: repeat(2, 1fr);
		/*grid-column-start: auto;*/
	}
	
	.gallery__item:nth-child(n){
		grid-column-start: auto;
		grid-row-start: auto;
	}
}