<div class="card_rent" (click)="selectCard(rent)" *ngFor="let rent of cardrentdata;let i=index">				
	<div class="subcard" >
		<div class="card_image ">	
		<!-- main image -->					
			<div class="w100 " style="height:100%;overflow:hidden" (click)="selectOptionCard('images',rent)">
				<img class="card_img" mat-card-image [src]="'assets/images/'+rent.listImages[0]" alt="Apartamentos Martín" style=" "/>
			</div>
		</div >
			
		<div class="d_flex card_content">
		<!-- central -->
			<div class="w100 t_center" >
		
		<!-- icon edit -->
				<mat-icon class="banner_icon  mr10 mt10 floatR" style="color:orange"  title="Editar" >edit_note</mat-icon>
		<!-- icon info -->
				<mat-icon class="banner_icon  mr10 mt10 floatL" style="color:orange"  title="Información" >info</mat-icon>

		<!-- title/subtitle -->
				<div class="title_renting">
				<!-- title -->
					<p class="title_renting_text">
						{{rent.title}}
					</p>
				<!-- subtitle -->
					<div class="subtitle_renting " style="display:flex;justify-content:center" *ngIf="rent.type.length > 0">
					<!-- icons subtitle -->
						<div class="icon_circle_double" >
							<span class="material-icons-round" *ngFor="let type of rent.type;let i=index">
								  {{type | iconType}}
							</span>

							<!--<span class="material-icons-round">
								holiday_village
							</span>-->
						</div>
					<!-- text subtitle -->
						<p class="subtitle_renting_text" >

							<span *ngFor="let type of rent.type;let i=index">
								<span *ngIf="i!=0">/</span>
								{{type}}
							</span>
						</p>
					</div>
				</div>

				<div class="content_renting" >
					<div class="w100 d_flex">
					<!-- phone -->
						<div class="w50 d_flex link " (click)="selectOptionCard('phone',rent)">
							<div class="w50 mauto div_icon_hidden">
								<span class="material-icons-round m10_auto  icon_circle " >
									settings_phone
								</span>
							</div>

							<div class="w50 mauto div_visible">
								<p class="mauto">{{rent.phone}}</p>
							</div>
						</div>
					<!-- location -->
						<div class="w50 d_flex link" (click)="selectOptionCard('location',rent)">
							<div class="w50 mauto div_icon_hidden">
								<span class="material-icons-round m10_auto c_orange icon_circle " >
									location_on
								</span>
							</div>
							<div class="w50 mauto div_visible">
								<p class="mauto">{{rent.numLevelLocation | levelPipe}}</p>
								
							</div>
						</div>
					</div>

					<div class="w100 d_flex">
					<!-- feedback -->
						<div class="w50 d_flex link" (click)="selectOptionCard('feedback',rent)">
							<div class="w50 div_icon_hidden">
								<span class="material-icons-round icon_circle m10_auto" >
									star
								</span>
							</div>

							<div class="w50 mauto div_visible" >
								<p class="mauto"> Opiniones</p>
							</div>
						</div>
					<!-- capacity -->
						<div class="w50 d_flex link" (click)="selectOptionCard('capacity',rent)">
							<div class="w50 div_icon_hidden ">
								<span class="material-icons-round m10_auto c_orange icon_circle" >
									group
								</span>
							</div>
							<div class="w50 mauto div_visible">
								<p class="mauto"> 2,4 y 6 personas</p>
							</div>
						</div>
					</div>

					<div class="price">
					<!-- price -->
						<div class="w30 div_price_item">
							<span class="price_item">{{rent.minPrice}}€</span>
						</div>
					<!-- selection nights/persons -->
						<div class="w70 price_detail"  style="display:flex">
						<!-- select persons -->
							<div class="w50" (click)="editPrice(1,i)">
								<p>{{rent.minCapacity}} {{rent.minCapacity|minimrent:'capacity'}}
									<!--<span class="fsize_10">(Mínimo {{rent.minNight}} noches)</span>-->
								</p>
								<div style="position:relative;width:100%;background-color:pink;height:100%" *ngIf="menuPrice && priceSelected==i">
									<div style="position:absolute;width:100%;background-color:orange;display:block" >
										<p>{{rent.minCapacity}} {{rent.minCapacity|minimrent:'capacity'}}
											<!--<span class="fsize_10">(Mínimo {{rent.minNight}} noches)</span>-->
										</p>
										
									</div>
								</div>
							</div>

						<!-- selection nights -->
							<div class="w50" (click)="editPrice(2,i)">

								<p>{{rent.minNights}} {{rent.minNights|minimrent:'night'}}
									<!--<span class="fsize_10">(Mínimo {{rent.minNight}} noches)</span>-->
								</p>
								<!-- menu -->
								<div style="position:relative;width:100%;background-color:pink;height:100%" *ngIf="menuPrice2 && priceSelected==i">
									<div style="position:absolute;width:100%;background-color:orange;display:block" >
										<p>{{rent.minCapacity}} {{rent.minCapacity|minimrent:'capacity'}}
											<!--<span class="fsize_10">(Mínimo {{rent.minNight}} noches)</span>-->
										</p>
										
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>			
			</div>
		</div>
	</div>
</div>
