<div class="card_rent" (click)="selectCard(rent)" *ngFor="let rent of cardrentdata;let i=index">				
	<div class="subcard" >
		<div class="card_image ">	
		<!-- main image -->					
			<div class="w100 " style="height:100%;overflow:hidden" (click)="selectOptionCard('images',rent)">
				<img class="card_img" [src]="'assets/images/'+rent.images[0]" alt="Apartamentos Martín" style=" " *ngIf="i<5"/>
				<img class="card_img" mat-card-image [src]="'http://localhost:3900/images/'+rent._id+'/'+rent.images[0]" alt="{{rent.images[0]}}" style=" " *ngIf="i>=5"/>

			</div>
		</div >
			
		<div class="d_flex card_content">
		<!-- central -->
			<div class="w100 t_center" >
		
		<!-- icon edit -->
				<mat-icon class="banner_icon  mr10 mt10 floatR" style="color:orange"  title="Editar" >edit_note</mat-icon>
		<!-- icon info -->
				<mat-icon class="banner_icon  mr10 mt10 floatL" style="color:orange"  title="Información" (click)="selectOptionCard('info',rent)">info</mat-icon>

		<!-- title/subtitle -->
				<div class="title_renting">
				<!-- title -->
					<p class="title_renting_text">
						{{rent.title}}
					</p>
				<!-- subtitle -->
					<div class="subtitle_renting " style="display:flex;justify-content:center" *ngIf="rent.type.length > 0">
					<!-- icons subtitle -->
						<div class="icon_circle_double" >
							<span class="material-icons-round" *ngFor="let type of rent.type;let i=index">
								  {{type | iconType}}
							</span>

							<!--<span class="material-icons-round">
								holiday_village
							</span>-->
						</div>
					<!-- text subtitle -->
						<p class="subtitle_renting_text" >

							<span *ngFor="let type of rent.type;let i=index">
								<span *ngIf="i!=0">/</span>
								{{type}}
							</span>
						</p>
					</div>
				</div>

				<div class="content_renting" >
					<div class="w100 d_flex">
					<!-- phone -->
						<div class="w50 d_flex link " (click)="selectOptionCard('phone',rent)">
							<div class="w50 mauto div_icon_hidden">
								<span class="material-icons-round m10_auto  icon_circle " >
									settings_phone
								</span>
							</div>

							<div class="w50 mauto div_visible">
								<p class="mauto">{{rent.phone}}</p>
							</div>
						</div>
					<!-- location -->
						<div class="w50 d_flex link" (click)="selectOptionCard('location',rent)">
							<div class="w50 mauto div_icon_hidden">
								<span class="material-icons-round m10_auto c_orange icon_circle " >
									location_on
								</span>
							</div>
							<div class="w50 mauto div_visible">
								<p class="mauto">{{rent.numLevelLocation | levelPipe}}</p>
								
							</div>
						</div>
					</div>

					<div class="w100 d_flex">
					<!-- feedback -->
						<div class="w50 d_flex link" (click)="selectOptionCard('feedback',rent)">
							<div class="w50 div_icon_hidden">
								<span class="material-icons-round icon_circle m10_auto" >
									star
								</span>
							</div>

							<div class="w50 mauto div_visible" >
								<p class="mauto">Valoraciones</p>
							</div>
						</div>
					<!-- capacity -->
						<div class="w50 d_flex link" (click)="selectOptionCard('capacity',rent)">
							<div class="w50 div_icon_hidden ">
								<span class="material-icons-round m10_auto c_orange icon_circle" >
									group
								</span>
							</div>
							<div class="w50 mauto div_visible">
								<p class="mauto"> Capacidad</p>
							</div>
						</div>
					</div>

					<div class="price">
					<!-- price -->
						<div class="w30 div_price_item">
							<span class="price_item">{{selectedPrice[i]}}€</span>
						</div>
						
					<!-- selection nights/persons -->
						<div class="w70 price_detail"  style="display:flex">
						<!-- anulado
							<div style="width:10%;display:block;position:relative" >
								<div class="w100">
									<mat-icon class="material-icons" style="font-size:20px;width: 100%;height:20px;display:flex;justify-content: center;vertical-align:middle;margin-top:10px">home</mat-icon>
									<div style="width: 100%;display:flex;justify-content:center">
										<mat-icon class="material-icons-round" style="font-size:15px;bottom:0px;position:absolute;width:100%;display:flex;justify-content:center;align-content:start;height:15px">expand_more</mat-icon>
									</div>
								</div>
							</div>

							<div class="w100" style="height:100%;max-height:200px">

							</div>
						-->
						<!-- select persons -->
							<div class="w50" >
								<div class="w100" style="display:flex;position: relative;justify-content:center" (click)="editPrice(1,i)">
								<!-- tipo -->
									<div style="position:absolute;width:100%">
										<span style="position:relative;width:100%;display: flex;justify-content:flex-end ;font-size:10px;color:#878787">
										<!-- icono -->
											<span class="material-icons" style="display: flex;align-items: center;font-size:10px;color:green">
												{{rent.capacities[indSelPson[i]].type|iconType}}
											</span>&nbsp;
										<!-- tipo -->
											{{rent.capacities[indSelPson[i]].type}}

										</span>
									</div>

									<p>{{rent.capacities[indSelPson[i]].capacity}} {{rent.capacities[indSelPson[i]].capacity|minimrent:'capacity'}}
									<!--<span class="fsize_10">(Mínimo {{rent.minNight}} noches)</span>-->
									</p>
									<span class="material-icons" style="display:flex;align-items:center;justify-content:flex-end;vertical-align: middle;position:absolute;width:100%;height:100%;font-size:20px">expand_more</span>
								</div>
								<div style="position:relative;width:100%;background-color:transparent;height:100%;max-height:200px" *ngIf="menu1Active[i]">

									<div style="position:absolute;width:100%;background-color:orange;display:block"  >
										<div *ngFor="let person of rent.capacities; let j=index" style="display:flex;justify-content:center" (click)="editPrice(1,i,j)">
											<div style="display:flex;justify-content:center" *ngIf="indSelPson[i] != j">

												<div style="position:absolute;width:100%">
													<span style="position:relative;width:100%;display: flex;justify-content: flex-end;font-size:10px;color:#878787">
													<!-- icono -->
														<span class="material-icons" style="display: flex;align-items: center;font-size:10px;color:green">
															{{person.type|iconType}}
														</span>&nbsp;
													<!-- tipo -->
														{{person.type}}

													</span>
												</div>

												<p>{{person.capacity}} {{person.capacity|minimrent:'capacity'}}
													<!--<span class="fsize_10">(Mínimo {{rent.minNight}} noches)</span>-->
												</p>
											</div>
										</div>
										
									</div>
								</div>
							</div>

						<!-- selection nights -->
							<div class="w50" >
								<div class="w100" style="display:flex;position: relative;justify-content:center" (click)="editPrice(2,i)">
									
									
									<p>{{selectedNights[i]}} {{selectedNights[i]|minimrent:'night'}}
									<!--<span class="fsize_10">(Mínimo {{rent.minNight}} noches)</span>-->
									</p>
								</div>
								
								<!-- menu -->
								<div style="position:relative;width:100%;background-color:pink;height:100%;max-height:100vh;" *ngIf="menu2Active[i]">

									<div style="position:absolute;width:100%;background-color:orange;display:block;max-height:200px;overflow:auto"  >
									<div *ngFor="let nights of listNights[i]; let j=index" style="display:flex;justify-content:center" (click)="editPrice(2,i,nights)">
										<div style="" *ngIf="selectedNights[i] != nights">
											<p>{{nights}} {{rent.capacities[0].minNights|minimrent:'night'}}
											<!--<span class="fsize_10">(Mínimo {{rent.minNight}} noches)</span>-->
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>			
			</div>
		</div>
	</div>
</div>
