<div class="card_rent" (click)="selectCard(rent)" *ngFor="let rent of cardrentdata">				
	<div class="subcard" >
		<div class="card_image ">	
		<!-- main image -->					
			<div class="w100 " style="height:100%;overflow:hidden" (click)="selectOptionCard('images',rent)">
				<img class="card_img" mat-card-image [src]="'assets/images/'+rent.listImages[0]" alt="Apartamentos Martín" style=" "/>
			</div>
		</div >
			
		<div class="d_flex card_content">
			<!-- central -->
			<div class="w100 t_center" >
			<!-- title/subtitle -->
			<mat-icon class="banner_icon  mr10 mt10 floatR" style="color:orange"  title="Editar" >edit_note</mat-icon>
			<mat-icon class="banner_icon  mr10 mt10 floatL" style="color:orange"  title="Información" >info</mat-icon>
				<div class="title_renting">
				<!-- title -->
					<p class="title_renting_text">
						{{rent.title}}
					</p>

				<!-- subtitle -->
					<div class="subtitle_renting " style="display:flex;justify-content:center" *ngIf="rent.type.length > 0">
					<!-- icons subtitle -->
						<div class="icon_circle_double" >
							<span class="material-icons-round" *ngFor="let type of rent.type;let i=index">
								  {{type | iconType}}
							</span>

							<!--<span class="material-icons-round">
								holiday_village
							</span>-->
						</div>
					<!-- text subtitle -->
						<p class="subtitle_renting_text" >

							<span *ngFor="let type of rent.type;let i=index">
								<span *ngIf="i!=0">/</span>
								{{type}}
							</span>

						</p>
					</div>


				</div>
				<div class="content_renting" >
				
					<div class="w100 d_flex">

					<!-- phone -->
						<div class="w50 d_flex link " (click)="selectOptionCard('phone',rent)">
							<div class="w50 mauto div_icon_hidden">
								<span class="material-icons-round m10_auto  icon_circle " >
									settings_phone
								</span>
							</div>

							<div class="w50 mauto div_visible">
								<p class="mauto">{{rent.phone}}</p>
							</div>
						</div>
					<!-- location -->
						<div class="w50 d_flex link" (click)="selectOptionCard('location',rent)">
							<div class="w50 mauto div_icon_hidden">
								<span class="material-icons-round m10_auto c_orange icon_circle " >
									location_on
								</span>
							</div>
							<div class="w50 mauto div_visible">
								<p class="mauto">{{rent.numLevelLocation | levelPipe}}</p>
								
							</div>
						</div>
					</div>

					<div class="w100 d_flex">
					<!-- feedback -->
						<div class="w50 d_flex link" (click)="selectOptionCard('feedback',rent)">
							<div class="w50 div_icon_hidden">
								<span class="material-icons-round icon_circle m10_auto" >
									star
								</span>
							</div>

							<div class="w50 mauto div_visible" >
								<p class="mauto"> Opiniones</p>
							</div>
						</div>
					<!-- capacity -->
						<div class="w50 d_flex link" (click)="selectOptionCard('capacity',rent)">
							<div class="w50 div_icon_hidden ">
								<span class="material-icons-round m10_auto c_orange icon_circle" >
									group
								</span>
							</div>
							<div class="w50 mauto div_visible">
								<p class="mauto"> 2,4 y 6 personas</p>
							</div>
						</div>
					</div>

					<div class="price">
					<!-- price -->
						<div class="w30 div_price_item">
							<span class="price_item">{{rent.minPrice}}€</span>
						</div>
					<!-- select nights/persons -->
						<div class="w70 price_detail"  style="display:flex">
						<!-- select persons -->
							<div class="w50" (click)="editPrice(1)">
								<p>{{rent.minCapacity}} {{rent.minCapacity|minimrent:'capacity'}}
									<!--<span class="fsize_10">(Mínimo {{rent.minNight}} noches)</span>-->
								</p>
							</div>
						<!-- select nights -->
							<div class="w50" (click)="editPrice(2)">

								<p>{{rent.minNights}} {{rent.minNights|minimrent:'night'}}
									<!--<span class="fsize_10">(Mínimo {{rent.minNight}} noches)</span>-->
								</p>
							</div>
						</div>
					</div>

				</div>

				<div class="content_renting" style="position:relative;" >
					<div style="position:absolute;width:100%;margin:auto;background:orange" *ngIf="menuPrice || menuPrice2" (click)="divPrice()">
						<div class="price_tmp" style="margin:0 auto;" *ngFor="let priceItem of pricerentdata;let i=index">

							<div class="w30 div_price_item" style="z-index:-1">
								
							</div>
							
							<div class="w70 price_detail" style="display:flex">
								<div class="w50" style="" [ngClass]="{'changePrice':menuPrice}" (click)="updatePrice()">
									<p *ngIf="menuPrice">3 Personas
										<!--<span class="fsize_10">(Mínimo {{rent.minNight}} noches)</span>-->
									</p>
								</div>
								<div class="w50" style=""  [ngClass]="{'changePrice':menuPrice2}">
									<p *ngIf="menuPrice2">{{priceItem | pricePipe:0 }}
										<!--<span class="fsize_10">(Mínimo {{rent.minNight}} noches)</span>-->
									</p>
								</div>
							</div>							
						</div>
						
						<div class="price_tmp" style="margin:0 auto">
							<div class="w30 div_price_item">
								
							</div>
							<div class="w70 price_detail" style="display:flex">
								<div class="w50" style="" [ngClass]="{'changePrice':menuPrice}" >
									<p *ngIf="menuPrice">6 personas</p>
								</div>
								<div class="w50" style="" [ngClass]="{'changePrice':menuPrice2}" >
									<p *ngIf="menuPrice2">5 noches</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
