<div style="width:100%;margin:auto;display:flex;flex-flow:row wrap;">					
	<!--<div style="width:20%;max-width:300px;overflow:hidden;margin:2px auto;display: flex;align-items: center;vertical-align: middle;position:relative">
		<div class="div_activity" style="" >
			<div class="activity" style="">							
				<img class="image" src="./assets/activities/barranquismo_3.jpg"/>
			</div>		
		</div>
	</div>
-->
	<div class="div_mainimage" style="">
		<div class="div_ocio" style="" >
			<div class="ocio">
				<!--<div class="image"></div>-->
				<!-- panel 1 (actividad multiaventura -->
				<img *ngIf="panel=='panel1';else elseBlock" class="image aa" [src]="image" [ngClass]='{"active":active}' (transitionend)="onTransitionEnd($event)"/>
				<!-- panel 2 (ocio)-->
				<ng-template #elseBlock>
					<img class="image" [ngClass]='{"active":active}' [src]="image2" (transitionend)="onTransitionEnd($event)"/>	
				</ng-template>
				
				<!-- <div style="position:absolute;width:60%;height:30px;background-color:rgba(53,53,53,.9);bottom:50px;border-radius:10px;display:flex;transition:all .3s linear;opacity:1;">
					<p style="color:white;margin:auto;font-size:20px;">Platos típicos</p>
				</div> -->
					
				<div class="hidden_modal" >
					<div class="box_caption" [ngClass] = "{'show_info': showerInfo}" #caption>
						<div class="title">
							<p>Senderismo</p>	
						</div>
						<div class="text_info" [ngClass]="{'show_info':showerInfo}">
							<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit error, iusto! Earum maiores impedit aperiam dolorum quas suscipit qui soluta culpa illum neque! Necessitatibus enim quibusdam accusantium reprehenderit, laborum natus.
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit error, iusto! Earum maiores impedit aperiam dolorum quas suscipit qui soluta culpa illum neque! Necessitatibus enim quibusdam accusantium reprehenderit, laborum natus.
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit error, iusto! Earum maiores impedit aperiam dolorum quas suscipit qui soluta culpa illum neque! Necessitatibus enim quibusdam accusantium reprehenderit, laborum natus.
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit error, iusto! Earum maiores impedit aperiam dolorum quas suscipit qui soluta culpa illum neque! Necessitatibus enim quibusdam accusantium reprehenderit, laborum natus.
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit error, iusto! Earum maiores impedit aperiam dolorum quas suscipit qui soluta culpa illum neque! Necessitatibus enim quibusdam accusantium reprehenderit, laborum natus.
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit error, iusto! Earum maiores impedit aperiam dolorum quas suscipit qui soluta culpa illum neque! Necessitatibus enim quibusdam accusantium reprehenderit, laborum natus.
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit error, iusto! Earum maiores impedit aperiam dolorum quas suscipit qui soluta culpa illum neque! Necessitatibus enim quibusdam accusantium reprehenderit, laborum natus.
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit error, iusto! Earum maiores impedit aperiam dolorum quas suscipit qui soluta culpa illum neque! Necessitatibus enim quibusdam accusantium reprehenderit, laborum natus.
							</p>
						</div>
						
						<!-- <mat-icon class="material-icons" style="color:#37E369;margin:auto 30px">info</mat-icon> -->
					</div>
					<div class="box_icons">
						<div class="icons">
							<mat-icon class="material-icons maticon" (click)="showInfo($event)">info</mat-icon>
							<mat-icon class="material-icons maticon" style="color:#353535;margin:auto 30px;">zoom_in</mat-icon>	
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<div class="div_thumbs" style="">

		<div class="thumbs">

			<div class="div_activity" style="position:relative" >
				<div class="back_hidden_activity" ></div>
				<div class="activity" style="">
					
					<span *ngFor="let activity of activities">
						<img class="image" src="{{activity.image}}" (click)="setImage(activity.image)"/>
					</span>
					<!-- <img class="image" src="../../assets/activities/rafting.jpg"/>
					<img class="image" src="../../assets/activities/barranquismo_3.jpg"/>
					<img class="image" src="../../assets/activities/caballos.jpg"/>
					<img class="image" src="../../assets/activities/pasarelas.jpg"/>
					<img class="image" src="../../assets/activities/descensos.jpg"/> -->
					<!--<img class="image" src="./assets/activities/barranquismo_3.jpg"/>-->
					<!--<img class="image" src="./assets/activities/barranquismo_3.jpg"/>-->
				</div>
			</div>
		</div>

	</div>

</div>