<div class="mainmenu" [ngClass]="{'visible':classMainMenu}">			
	<div class="mainmenu_titletop" style="">
		<p class="mauto" >Parque Natural de Cazorla</p>
	</div>
	<div class=" mainmenu_divcontent">
		<div class="mainmenu_content">
			<div class="content_title">
				<div class="floatL icon_inside">
					<mat-icon class="material-icons btn_close left " (click)="animation()">close</mat-icon>
				</div>
				<div class="w100">
					<p>Turismo rural en Arroyo Frío</p>
				</div>
				<div class="floatR icon_inside">
					<mat-icon class="material-icons btn_close right" (click)="toggleMainMenu()">close</mat-icon>
				</div>
			</div>
			<div class="menu" >
				<div class="menulinks " [ngStyle]="firstwidth <750 && switchMenuDetailsAbsolute ? {'opacity':0,'transform':'scale(0)'}:{'opacity':1,'transform':'scale(1)'}">
					<div class="mauto">
						<div class="linkmenu" >
							<span class="link" title="Ir a Lugares" (click)="sendSection(1,1)">ARROYO FRÍO</span>
							<mat-icon class="material-icons icon"  (click)="showDetailMenu('arroyofrio')">chevron_right</mat-icon>
						</div>
						<div class="linkmenu" >
							<span (click)="sendSection(2,0)" class="link" title="Ir a Lugares">LUGARES</span>
							<mat-icon class="material-icons icon"  (click)="showDetailMenu('places')">chevron_right</mat-icon>
						</div>
						<div class="linkmenu" >
							<span (click)="sendSection(3,1)" class="link">ALOJAMIENTO</span>
							<mat-icon class="material-icons icon"  (click)="showDetailMenu('renting')">chevron_right</mat-icon>
						</div>
						<div class="linkmenu">
							<span (click)="sendSection(4,0)" class="link">GALERÍA</span>
							<mat-icon class="material-icons icon"  (click)="showDetailMenu('gallery')">chevron_right</mat-icon>
						</div>
						<div class="linkmenu">
							<span class="link">
								AJUSTES
							</span>
							<mat-icon class="material-icons icon">chevron_right</mat-icon>
						</div>
					</div>
				</div>
				<div class="menudetails" [ngStyle]="firstwidth <750 && !switchMenuDetailsAbsolute ? {'opacity':0,'transform':'scale(0)'}:{'opacity':1,'transform':'scale(1)'}">
					<div class="w80 detailmenu" >
						<div style="float:right;position:absolute;width:95%" [ngStyle]="firstwidth <750 && switchMenuDetailsAbsolute ? {'opacity':1,'transform':'scale(1)'}:{'opacity':0,'transform':'scale(0)'}" (click)="closeMenuDetails()">
							<mat-icon class="floatR">close</mat-icon>
						</div>
						<div class="w90 mauto" >
							<!--<p style="display: flex;transform:translate(-90%,0);transition:all 1s linear" [ngClass]="{'detvisible':switchDetailMenu}">{{textDetailMenu}}</p>-->
							<!--<span *ngFor="let option of textDetailMenu">-->
								<!--<div class="optionmenu" style=""  [ngClass]="{'detvisible':switchDetailMenu}">
									{{option}}
								</div>-->
								<div class="w100 m10_auto" >
									<div *ngFor="let option of textDetailMenu;let j = index" class="optionmenu" style="" [@switchDetail]="stateAnimation">
										<span class="ml10" (click)="sendSection(this.selectedLink,j)" class="spanmenu" [attr.data-hover]="option"></span>
									<!-- para realizar el efecto rellenar color de texto de izquierda
										a derecha es necesario el atributo data-hover-->
										<!-- anulado para el efecto de relleno de texto -->
										<!--<span class="ml10" (click)="sendSection(this.selectedLink,j)" class="spanmenu">
											<p style="padding:0;margin:">{{option}}</p>
										</span>-->
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
