<div class="mainmenu" [ngClass]="{'visible':classMainMenu}">			
	<!-- <div class="mainmenu_titletop" style="">
		<p class="mauto" style="cursor:pointer" (dblclick)="animation()">Parque Natural de Cazorla</p>
	</div> -->
	<div class=" mainmenu_divcontent">
		<div class="mainmenu_content">
			<div class="content_title">
				<!--<div class="floatL icon_inside">
					<mat-icon class="material-icons btn_close left " (dblclick)="animation()">play_arrow</mat-icon>
				</div>
				-->
				<div class="w100">
					<p><span>Turismo rural en</span> Arroyo Frío</p>
				</div>
				<div class="floatR icon_inside">
					<mat-icon class="material-icons btn_close right" (click)="toggleMainMenu()" >close</mat-icon>
				</div>
			</div>
			<div class="menu" >
				<div class="menulinks " [ngStyle]="firstwidth <750 && switchMenuDetailsAbsolute ? {'opacity':0,'transform':'scale(0)'}:{'opacity':1,'transform':'scale(1)'}">
					<div class="mauto">
						<div class="linkmenu" >
							<span class="link" title="Ir a Lugares" (click)="showDetailMenu('arroyofrio')">Arroyo Frío</span>
							<mat-icon class="material-icons icon"  (click)="sendSection(1,1)">chevron_right</mat-icon>
						</div>
						<div class="linkmenu" >
							<span (click)="showDetailMenu('places')" class="link" title="Ir a Lugares">Lugares</span>
							<mat-icon class="material-icons icon"  (click)="sendSection(2,0)">chevron_right</mat-icon>
						</div>
						<div class="linkmenu" >
							<span (click)="showDetailMenu('entertainment')" class="link">Aventura</span>
							<mat-icon class="material-icons icon"  (click)="sendSection(3,1)">chevron_right</mat-icon>
						</div>
						<div class="linkmenu">
							<span (click)="showDetailMenu('renting')" class="link">Alojamiento</span>
							<mat-icon class="material-icons icon"  (click)="sendSection(4,0)">chevron_right</mat-icon>
						</div>
						<div class="linkmenu">
							<span (click)="showDetailMenu('gallery')" class="link">
								Galería
							</span>
							<mat-icon class="material-icons icon" (click)="sendSection(5,0)">chevron_right</mat-icon>
						</div>
					</div>
				</div>
				<div class="menudetails" [ngStyle]="firstwidth <750 && !switchMenuDetailsAbsolute ? {'opacity':0,'transform':'scale(0)'}:{'opacity':1,'transform':'scale(1)'}">
					<div class="w80 detailmenu" >
						<div style="float:right;position:absolute;width:95%" [ngStyle]="firstwidth <750 && switchMenuDetailsAbsolute ? {'opacity':1,'transform':'scale(1)'}:{'opacity':0,'transform':'scale(0)'}" (click)="closeMenuDetails()">
							<mat-icon class="floatR">close</mat-icon>
						</div>
						<div class="w90 mauto" >
							<!--<p style="display: flex;transform:translate(-90%,0);transition:all 1s linear" [ngClass]="{'detvisible':switchDetailMenu}">{{textDetailMenu}}</p>-->
							<!--<span *ngFor="let option of textDetailMenu">-->
								<!--<div class="optionmenu" style=""  [ngClass]="{'detvisible':switchDetailMenu}">
									{{option}}
								</div>-->
								<!-- establecemos el condicional ternario para diferenciar el contador j del section 1 con el resto, ya que el section 1 tiene los paneles desde 0px en adelante, no tiene paneles en negativo-->
								<div class="w100 m10_auto" >
									<div *ngFor="let option of textDetailMenu;let j = index" class="optionmenu" style="" [@switchDetail]="stateAnimation" (click)="(this.selectedLink == 1) ? sendSection(this.selectedLink,j+1) : sendSection(this.selectedLink,j)">
										<span class="ml10"  class="spanmenu" [attr.data-hover]="option"></span>
									<!-- para realizar el efecto rellenar color de texto de izquierda
										a derecha es necesario el atributo data-hover-->
										<!-- anulado para el efecto de relleno de texto -->
										<!--<span class="ml10" (click)="sendSection(this.selectedLink,j)" class="spanmenu">
											<p style="padding:0;margin:">{{option}}</p>
										</span>-->
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
