.div_buttongroup{
	width:100%;
	height: 100vh;
	position:absolute;
	background-color:rgba(0,0,0,0.5);

}
.div_buttongroup .div_btn_mainmenu{
	opacity:0;
	visibility: hidden;
	position: absolute;
	display: flex;
	right: 20px;
	top:100px;
	transition:all .5s linear;
	z-index:300;
}
.div_buttongroup .div_btn_mainmenu.active{
	opacity:1;
	visibility: visible;
}
				/*** buttons, button-group **/

.button_group{
	color:#fff;
	position:fixed;
	z-index: 300;
	top:35%;
	left:2%;
	padding: 0;
	border: #A2A2A2 1px solid;

	/*background:#ff7500*/
	/*background: rgba(0,0,0,.9);*/

	
}
.button_group:hover{	
	border: #E3E3E3 1px solid;
	/*background-color: rgba(0,0,0,.4);	*/
}

.button_group .btn{
	/*background-color: transparent;*/
	color: #A2A2A2;
}
.button_group .btn:hover{
	/*outline: black 1px solid;*/
	background-color: rgba(0,0,0,.2);
	color: white;
}
.button_group .btn .icongroup_min{
	font-size:10px;
	line-height:20px;
	vertical-align: middle;
}

		/* modificar el color de buttongroup de Angular Material */

mat-button-toggle{
	background-color: transparent;
}
mat-button-toggle:hover{
	background-color: rgba(0,0,0,.3);
	outline: #D2D2D2 1px solid;	
}
mat-button-toggle:active{
	color: #37e369 !important;
}
.mat-button-toggle-checked{
	background-color: rgba(0,0,0,.3);
	outline: #D2D2D2 1px solid;
	/*necesario important*/
	/*color: #E3E3E3 !important;*/
	color: #37E369 !important;
	
}

@media(max-width:500px){
	.div_buttongroup .div_btn_mainmenu{
		right: 0px;
	}
}
@media(max-width:350px){
	.div_buttongroup .div_btn_mainmenu button{
		width: 35px;
		height: 35px;
	}
	
}


