<div style="position:relative">
<div class="div_buttongroup" style="">
	<mat-button-toggle-group  name="matButtonToggleGroup" class="button_group" vertical [value]="buttonValue">
		<mat-button-toggle (click)="setSection(1)" value="home" class="btn">
			<mat-icon *ngIf="firstwidth>750" matTooltipClass="bx_tooltip" matTooltip="Inicio">home</mat-icon>
			<mat-icon *ngIf="firstwidth<750" class="icongroup_min" matTooltipClass="bx_tooltip" matTooltip="Inicio">circle</mat-icon>
		</mat-button-toggle>
		<mat-button-toggle (click)="setSection(2)" value="places" class="btn">
				<!-- twotone -->
				<!-- <i class="material-icons material-icons-two-tone" *ngIf="firstwidth>750"> -->
					<i class="material-icons" matTooltipClass="bx_tooltip" matTooltip="Lugares" *ngIf="firstwidth>750">nature_people</i>
			<mat-icon *ngIf="firstwidth<750" class="icongroup_min" matTooltipClass="bx_tooltip" matTooltip="Lugares">circle</mat-icon>
		</mat-button-toggle>
		<mat-button-toggle (click)="setSection(3)" value="entertainment" class="btn">
			<i class="material-icons material-icons-outlined" *ngIf="firstwidth>750" matTooltipClass="bx_tooltip" matTooltip="Actividades">hiking</i>
			<mat-icon *ngIf="firstwidth<750" class="icongroup_min" matTooltipClass="bx_tooltip" matTooltip="Actividades">circle</mat-icon>
		</mat-button-toggle>
		<mat-button-toggle (click)="setSection(4)" value="rent" class="btn">
			<i class="material-icons material-icons-sharp" *ngIf="firstwidth>750" matTooltipClass="bx_tooltip" matTooltip="Alojamiento">bedroom_parent</i>
			<mat-icon *ngIf="firstwidth<750" class="icongroup_min" matTooltipClass="bx_tooltip" matTooltip="Alojamiento">circle</mat-icon>
		</mat-button-toggle>
		<mat-button-toggle (click)="setSection(5)" value="gallery" (dblclick)="fillDB()" class="btn">
			<mat-icon>
				<i class="material-icons-round" *ngIf="firstwidth>750" matTooltipClass="bx_tooltip" matTooltip="Galería">photo_library</i>
				<mat-icon *ngIf="firstwidth<750" class="icongroup_min" matTooltipClass="bx_tooltip" matTooltip="Galería">circle</mat-icon>
			</mat-icon>
		</mat-button-toggle>
	<!-- modal para recargar valores por defecto -->
		<div style="position:fixed;transform: translate(-50%,-50%);left:50%;top:50%;text-align:center;" [ngStyle]="switchModalCardRentDefault ? {'width':'300px'}:{'width':'0'}">
			<div style="background-color:rgba(0,0,0,.9);padding:10px 20px;transition:opacity 0.4s linear" [ngStyle]="switchModalCardRentDefault ? {'padding':'10px 20px','opacity':'1'}:{'padding':'0','opacity':'0'}">
				<p *ngIf="switchModalCardRentDefault">Estableciendo alojamientos por defecto</p>
				<p *ngIf="switchModalCardRentDefault">Espere unos segundos...</p>
				<mat-spinner [diameter]="50" style="margin:auto;" *ngIf="switchModalCardRentDefault"></mat-spinner>
			</div>
		</div>
	</mat-button-toggle-group>
	<div class="div_btn_mainmenu" style="" [ngClass]="{'active':btnMainmenuVisible}">
		<button mat-icon-button class="btn_mainmenu"  (click)="toggleMainMenu()">
			<mat-icon class="icon">menu</mat-icon>
		</button>
	</div>
</div>
</div>