.dflex{
	display:flex;
}
.flex_header{

	height:70px;
	width:100%;
	position: absolute;
	left: 0;
	z-index: 200;
}

.flex_header .div_flex_item{
	width:100%;
	margin:30px auto;
}

.flex_item{
	/*box-shadow:50px 50px 250px rgba(69,46,0,.2) inset,-100px -100px 250px rgba(69,46,0,.2) inset;*/
	min-height: 78px;
	/*max-height: 100%;*/
	width:70%;	
	background-color:rgba(0,0,0,.9);
	display: flex;
	padding: 5px;
	margin: auto;
	border-radius:10px;
	text-align: center;	
	box-sizing: border-box;
	overflow: hidden;
	user-select: none;
}
.flex_item .div_icon{
	display:flex;
	align-items:center;
	position:relative;
}
.flex_item .div_icon.left{
	justify-content: flex-start;
}
.flex_item .div_icon.right{
	justify-content: flex-end;
}

.flex_item .banner_icon{
	align-items:center;
	display: flex;
	font-size:28px;
	color:#37E369;
	cursor:pointer;
	position:absolute;
	top:6px;
	margin:auto 10px;
}
.flex_item .banner_icon:hover{
	color:#D3D3D3;
}
.flex_item .banner_icon:active{
	color:#37E369;
}
.flex_item .banner_icon.left{
	
	transform:rotate(180deg);
}
.flex_item .bannerp1{
	margin:6px auto;
	font-size:18px;
	font-family:Quicksand;
}

.banners{
	/*display:inline-flex;
	margin:auto;*/
	display:flex;
	justify-content:center;
	min-height:30px;
	vertical-align: middle;
}
.banners .banner2{
	display:contents;
	cursor:pointer;
	font-size:18px;
	clear:left;
	color: #FFF;
	/*display: flex;*/
	align-items: center;
}

.banners .banner2 span.milocation:hover{
	color:orange;
}

/*.banners .icon{
	color:lightgreen;
	font-size:18px;
	border:white 1px solid;
	border-radius:50%;
	padding:3px;
	background-color:#000;
}*/

.div_feedback div{
	/*background-color: orange;*/
}
/*.feedgreen{
	background-color: lightgreen;
}
.feedorange{
	background-color: orange;
}*/

.bannerp3{
	display:flex;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/*max-width: 100ch;*/
	cursor:pointer;
	/*margin-left:5px;*/
	font-size:14px;
	/*clear:left;*/
	transition:transform 1s ease-in-out;
	/*display: flex; anula el ellipsis*/
}


@media (min-width:1400px) {
	.flex_item{
		width:60%
	}
}
@media (max-width: 900px){
	.flex_item{
		width: 100%;		
	}	
}
@media (max-width: 600px){
	.flex_item .banner_icon{
		font-size: 30px;
	}
	.banners .banner2{
		font-size: 16px;
	}
	.banners .icon{
		font-size: 16px;
	}

}
@media (max-width: 500px){	
}
