<div class="flex_header " style="display:flex ">
				
	<div class="div_flex_item " style="justify-content:center;">
		<div class="flex_item " style="" >
			<div class="w100 d_flex" >
			<!-- icono valoraciones -->
				<div class="w15 csrpointer div_icon left" (click)="hideImagesCard('')">
					<mat-icon class="banner_icon left " title="Todas las Valoraciones" (click)="setPanel(0)">double_arrow</mat-icon>
					<!--<mat-icon mat-card-avatar class="banner_icon " style="margin:15px auto;font-size:30px" title="Todas las Valoraciones">person</mat-icon>-->
				</div>
							
				<div class="w70 fbold" >
				<!-- bannerp1 -->
					<div style="display:flex;justify-content:center">
					<p class=" c_white bannerp1" #bannerp1>Alojamiento en Arroyo Frío</p>
					</div>
				<!-- gráfica puntuación general de valoraciones -->
					<p  class="w100 m5_auto" *ngIf="switchDivFeedback2">
						<pre-divlevel [numLevelFeedback]="numLevelFeedback"></pre-divlevel>
		            </p>
						        
				
					<div class="banners" >
						<!-- gráfica puntuación de ubicación -->
						<pre-divlevel2 [levelLocation]="numLevelLocation" class="dflex" *ngIf="switchDivFeedback"></pre-divlevel2>
						<div style="display:flex;align-items:center " *ngIf="switchDivContact">
							<!-- <span style="display:block" class="material-icons icon" *ngIf="switchDivContact">
						settings_phone</span> -->
							<mat-icon style="background-color:#353535;color:lightgreen;font-size:18px;border:#696969 1px solid;padding:3px;border-radius:50%;display:flex;justify-content:center;align-items:center">phone</mat-icon>
						</div>
						<div style="display:flex;align-items:center " *ngIf="switchDivCapacity">
							<mat-icon style="background-color:#353535;color:lightgreen;font-size:18px;border:#696969 1px solid;padding:3px;border-radius:50%;display:flex;justify-content:center;align-items:center">group</mat-icon>
						</div>
						<!-- <span class="material-icons icon" *ngIf="switchDivCapacity">
						group</span> -->
						
				<!-- bannerp2 -->
						<p class=" c_white banner2" #bannerp2   (click)="dinamicMethod()"  >
						</p>
				<!-- bannerp3 -->
						<p class="c_white bannerp3" #bannerp3  [ngStyle]="{'max-width':maxWidthBannerp3+'px'}"
						 (click)="dinamicMethod()"  >
						</p>
						<!--<p>valoración</p>-->
					</div>
				<!-- div (imágenes y maps) -->
					<div class="w100" *ngIf="selectedCard" >
					<!-- maps -->
						<pre-cardmaps [maxWidthBannerp3]="maxWidthBannerp3"></pre-cardmaps>
					<!-- images -->	
						<pre-card-images [selectedCard]="selectedCard"></pre-card-images>
					<!-- info -->
						<pre-card-infoservices [selectedCard]="selectedCard"></pre-card-infoservices>
					</div>
				</div>
			<!-- icono Add (new card) -->
				<div class="w15 csrpointer div_icon right" (click)="hideImagesCard('')">
					
					<mat-icon class="banner_icon  mr10 floatR"  title="Información" (click)="setPanel(2)">double_arrow</mat-icon>
				
				</div>
			</div>
		</div>
	</div>
				
</div>
