<div class="flex_header " style="position:relative; color:white;font-weight:bold">
	<div class="div_flex_item " style="justify-content:center;">
		<div class="flex_item " style="" >
			<div style="width:100%;display:flex;justify-content:center;vertical-align:middle">
				<div class="w15">
					<mat-icon class="banner_icon floatL" style="margin-left: 10px;margin-top: 8px;transform:rotate(180deg);display:flex;align-items:center" title="Volver a alojamientos" (click)="sendToPanel(1)">double_arrow</mat-icon>
				</div>

				<div class="w70">
					Nuevo alojamiento
				</div>

				<div class="w15"></div>

			<!-- icono valoraciones -->
				<!--
				<div style="width:15%;cursor:pointer" class="" >
					<mat-icon class="banner_icon " title="Todas las Valoraciones">grade</mat-icon>
				</div>
			
				<div style="width: 70%;font-weight: bold;">
					<p class="mauto c_white bannerp1" #bannerp1>Crear nuevo alojamiento</p>
				</div>

			

				<div style="width:15%;cursor:pointer" class="" >
					<mat-icon class="banner_icon  mr10 floatR"  title="Información">info</mat-icon>
				</div>
			-->
			</div>
		</div>
	</div>
</div>