.flex_header{
	height:70px;
	width:100%;
	position: relative;
	z-index: 300;
}
.flex_header .div_flex_item{
	width:100%;
	margin:30px auto;
	justify-content: center;
}

.flex_item{
	min-height: 50px;
	/*max-height: 100%;*/	
	width:70%;	
	background-color:rgba(0,0,0,.7);	
	display: flex;
	padding: 5px;	
	margin: auto;
	border-radius:10px;
	text-align: center;	
	box-sizing: border-box;
	overflow: hidden;
	user-select: none;	
}
.flex_item header{
	width:100%;
	display:flex;
	justify-content:center;
	vertical-align:middle
}
.flex_item header .new_title{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
}
.flex_item .bannerp1{
	font-size: 18px;
	margin:6px auto;
	font-family:Quicksand;
}
.flex_item .div_icon{
	display:flex;
	align-items:center;
	position:relative;
}
.flex_item .div_icon.left{
	justify-content:flex-start;
}
.flex_item .banner_icon{
	display: flex;
	font-size:28px;
	color:#37E369;
	cursor:pointer;	
	transform:rotate(180deg);
	position:absolute;
	top:6px;	
	margin:auto 10px;
}

@media (max-width: 900px){
	.flex_item{
		width: 100%;
	}
}
@media (max-width: 600px){
	
	.flex_item header .new_title{
		font-size: 15px;
	}
	.flex_item .banner_icon{
		font-size: 30px;
	}

}
@media (max-width: 400px){
	.flex_item header .new_title{
		font-size: 14px;
	}
}
