<div class="flex_header fbold c_white" >
	<div class="div_flex_item" >
		<div class="flex_item">
			<header style="">
				<div class="w15">
					<mat-icon class="banner_icon floatL" title="Volver a alojamientos" (click)="sendToPanel(1)">double_arrow</mat-icon>
				</div>

				<div class="w70">
					Nuevo alojamiento
				</div>

				<div class="w15"></div>
			
			<!-- icono valoraciones -->
				<!--
				<div style="width:15%;cursor:pointer" class="" >
					<mat-icon class="banner_icon " title="Todas las Valoraciones">grade</mat-icon>
				</div>			
				<div style="width: 70%;font-weight: bold;">
					<p class="mauto c_white bannerp1" #bannerp1>Crear nuevo alojamiento</p>
				</div>
				<div style="width:15%;cursor:pointer" class="" >
					<mat-icon class="banner_icon  mr10 floatR"  title="Información">info</mat-icon>
				</div>
			-->
			</header>
		</div>
	</div>
</div>