<div class="back_arroyofrio" >	
	<!--<div class="back_header_arroyofrio">
		<div class="header_arroyofrio">
			<div class="nav_arroyofrio">
				<div class="div_iconmove left" (click)="sendPanel(1)">
					<mat-icon style="vertical-align: middle;color:#37e369">double_arrow</mat-icon>
				</div>
				<div class="nav_title">
					Arroyo Frío
				</div>-->

				<!-- <div class="div_iconmove right" (click)="sendPanel(2)">
					<mat-icon style="vertical-align: middle;color:#37e369">double_arrow</mat-icon>
				</div> -->

			<!--</div>	
		</div>
	</div>-->
	<div class="back_header_arroyofrio">
		<pre-nav-header [panels]="headerPanels" [title] = "headerTitle"></pre-nav-header>
		<!-- <div class="nav_header">
			<div class="header">
				<div class="div_iconmove left" (click)="sendPanel(1)">
					<mat-icon style="vertical-align: middle;color:#37e369">double_arrow</mat-icon>
				</div>
				<div class="nav_title">
					<p>Más sobre ArroyoFrío</p>
				</div>
				<div class="div_iconmove right">
					
				</div>
			</div>
		</div> -->
	</div>

	<!-- <div class="flex_header">
		<div class="div_flex_item" style="" >

			<div class="flex_item" >
				<div class="w15 div_iconleft">
					<mat-icon class="icon_left"  style="" (click)="sendPanel(1)"  >double_arrow</mat-icon>
				-->
				<!-- condition en ngClass método1 -->
					<!-- <mat-icon class="icon_left"  style="" (click)="sendPanel(0)" [ngClass]="{'icon_visible':panel=='1','icon_novisible':panel!='1','icon_transitionActive':switchTransitionFirst}" >double_arrow</mat-icon> -->
				<!--
				</div>
				<div class="w70 div_center" style="">
					<p class="mauto c_white">Más sobre ArroyoFrío</p>	
				</div>
				<div class="w15 div_iconright">
				-->
				<!-- condition en ngClass método2 -->
					<!-- <mat-icon class="icon_right"  style="" (click)="sendPanel(1)" [ngClass]="(panel=='0' ? 'icon_visible':'icon_novisible')+' '+(switchTransitionFirst==true ? 'icon_transitionActive':'')">double_arrow</mat-icon> -->
				<!--
				</div>
			</div>
		</div> 
	</div>-->
	<section class="back_articles" style="">
		<div class="box_article">
			<article class="article end">
				<div class="center">
					<h2>¿Que se puede hacer en ArroyoFrío?</h2>
					<p>En Arroyo Frío podrás pasar una fantástica estancia conectando con la naturaleza en plena sierra de Cazorla,Jaén (España), hacer excursiones a los distintos lugares emblemáticos, realizar actividades y disfrutar de los servicios disponibles de este municipio, podrás hacerlo con amigos, solo o en familia, sin dejar de contemplar un paisaje inolvidable.</p>
					 
				</div>
			</article>
			<div class="article_image">
				<div class="image">
					<img src="../assets/img/info_arroyofrio/cascada.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="box_article">
			
			<div class="article_image">
				<div class="image">
					<img src="../assets/img/info_arroyofrio/ruta_propia.jpg" alt="">
				</div>
			</div>
			<article class="article start">
				<div class="center">
					<h2>¿Eres un alma libre?</h2>
					<p>En Arroyo Frío puedes visitar los distintos lugares planificando tu propia ruta organizando tu tiempo.</p>
				</div>
			</article>
		</div>
		<div class="box_article">
			<article class="article end">
				<div class="center">
					<h2>¿Te gusta la aventura?</h2>
					<p>Podrás apuntarte a algunas de las numerosas actividades disponibles: Rafting, barranquismo, paseo a caballo, senderismo, descensos por el río y mucho más.</p>
				</div>
			</article>
			<div class="article_image">
				<div class="image">
					<img src="../assets/img/info_arroyofrio/rafting.jpg" alt="">
				</div>
			</div>
			
			
		</div>
		<div class="box_article">
			
			<div class="article_image">
				<div class="image">
					<img src="../assets/img/info_arroyofrio/elmeson.jpg" alt="">
				</div>
			</div>
			
			<article class="article start">
				<div class="center">
					<h2>Gastronomía</h2>
					<p>Cuenta con bares y restaurantes que cautivarán tu paladar con platos típicos de Andalucía y de la propia sierra de Jaén.</p>
				</div>
			</article>
		</div>
		<div class="box_article pb100">
			<article class="article end">
				<div class="center">
					<h2>Comodidad</h2>
					<p>La autenticidad y magia de este lugar se basa en la adaptación de una ubicación rodeada de montes y bosques en un entorno cuidado y respetuoso con el medio ambiente con la disponibilidad de comodidades típicas de unas vacaciones. Arroyo Frío te ofrece una auténtica experiencia con la naturaleza y el medio natural sin prescindir de los caprichos eventuales de un día de ocio como saborear un helado, comer una pizza, ir de compras a los distintos puestos de venta o pasar una mañana relajante en el spa.</p>
				</div>
			</article>
			<div class="article_image">
				<div class="image">
					<img src="../assets/img/info_arroyofrio/spa.jpg" alt="">
				</div>
			</div>
		</div>
		

		
	</section>
</div>
<!-- <div class="back_arroyofrio" >	
	<div class=" w100 h100 arroyofrio" style="">
		<div class=" w80 div_arroyofrio">
			<div style="position:absolute;width:100%;height:100%">
				<div class="div_iconreturn" (click)="sendPanel(0)">
					<mat-icon style="vertical-align: middle;color:#37e369">double_arrow</mat-icon>
				</div>
				<div class="div_iconflag">
					<img src="../../../assets/bandera_espana.png" width="30" style="margin: 5px auto;display: block"/>
					<img src="../../../assets/bandera_andalucia.png" width="30" style="margin: 5px auto;display: block"/>
					<img src="../../../assets/bandera_jaen.png" width="30" style="margin: 5px auto;display: block"/>
				</div>
			</div>
			
			<div class="text_arroyofrio">
				<h2 style="">Arroyo Frío</h2>
				<p class="mauto">
					Arroyo Frío es un pequeño municipio ubicado en el parque natural de Cazorla, Segura y Las Villas, en la provincia de Jaén(España). Aun con su baja población de tan solo 244 habitantes y con una infraestructura limitada, su ubicación y su entorno ha permitido a este espacio convertirse en uno de los lugares idóneos por los amantes de la naturaleza y el entorno rural para pernoctar. Arroyo Frío es unos de los lugares más demandados de turismo rural de España, situándose como el lugar más buscado en 2020. 
				</p>
			</div>
		</div>
	</div>
</div> -->