.pb100{
	padding-bottom:100px;
}
.back_arroyofrio{
	width: 100%;
	height: 100vh;
	color:white;
	/*background-image: url('../../../assets/arroyofrio.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;*/
	position: relative;
	
}
.back_header_arroyofrio{
	background-color:#696969;
	height:70px;
	width:100%;
}
/*.div_iconmove.left .mat-icon{
	align-items:center;
	display:flex;
	font-size:28px;
}*/
/*.nav_header{
	align-items:center;
	display:flex;
	height:100%;
	margin:auto;
	width:80%;
}
.nav_header .header{
	align-items:center;
	background-color:rgba(0,0,0,.8);
	border-radius:15px;	
	display:flex;
	height:40px;
	justify-content: space-between;
	width:100%;
}
.nav_header .header .div_iconmove{
	position:relative;
	cursor:pointer;
	width:10%;
}
.nav_header .header .div_iconmove.left{
	display:flex;
	font-size:20px;
	justify-content:flex-start;
	margin-left:10px;
}
.div_iconmove.left .mat-icon{
	align-items:center;
	display:flex;
	font-size:28px;
}
.nav_header .header .iconmove.right{
	display:flex;
	justify-content:flex-start;
	margin-right:10px;
}*/
/*.header_arroyofrio{
	align-items:center;
	display:flex;
	height:100%;
	margin:auto;
	width:80%;
}
.nav_arroyofrio{
	align-items:center;
	border-radius:15px;
	background-color:rgba(0,0,0,.8);
	display:flex;
	height:40px;
	justify-content:space-between;
	width:100%;
}*/
/*botones de ir a anterior o siguiente panel */
/*.div_iconmove{
	position: relative;
	cursor:pointer;	
	width:10%;
}*/
/*.div_iconmove.left{
	display:flex;
	justify-content:flex-start;
	margin-left:10px;
	
}
.div_iconmove.left .mat-icon{
	transform: rotate(180deg);
}
.div_iconmove.right{
	display:flex;
	justify-content:flex-end;
	margin-right:10px;	
}
.nav_title{
	width:80%;
}*/
.back_articles{
	background-color:#353535;
	height:100%;
	width:100%;
	margin:auto;
	overflow:auto;
}
.box_article{
	margin:25px auto;
	display:flex;
	width:100%;
}
.article{
	align-items:center;
	display:flex;
	
	width:50%;
}
.article.start{
	justify-content:flex-start;
}
.article.end{
	justify-content:flex-end;
}
.article .center{
	margin:auto 20px;
	width:70%;
}
.article h2{
	font-family:Quicksand;
	font-size:40px;
}
.article p{
	font-family:Quicksand;
	font-size:20px;
	line-height:30px;
}
.article_image{
	display:flex;
	justify-content:flex-end;
	margin:auto;
	max-height:70vh;
	width:50%;
}
.article_image .image{
	display:flex;
	justify-content: center;
	width:100%;
}
.article_image img{
	max-width:100%;
	
}

.flex_header{
	height:70px;
	width:100%;
	position: relative;
	z-index: 300;
}

.div_flex_item{
	width:80%;
	margin:auto;
	margin-top:30px
}

.flex_item{
	min-height: 50px;
	/*max-height: 100%;*/
	width:80%;	
	background-color:rgba(0,0,0,.7);
	display: flex;
	padding: 5px;
	margin: auto;
	border-radius:10px;
	text-align: center;	
	box-sizing: border-box;
	overflow: hidden;
	user-select: none;
	
}


.flex_item .div_center{
	display: flex;
	vertical-align:middle;
	

}
.flex_item .div_center p{
	font-family: Quicksand;
	font-size: 20px;
	font-weight: bold;
}
.icon_novisible{
	opacity: 0;	
}
.icon_visible{
	opacity: 1;
}
.icon_transitionActive{
	transition: opacity 1s linear;
}
/* pasado al nuevo activity-header */

/*.flex_item .icon_left{	
	float:left;
	font-size:35px;
	color:lightgreen;
	transform:rotate(180deg);
	margin-top:8px;
	margin-left:10px;
	display:flex;
	align-items:center;
	cursor: pointer;
	align-items: center;
}
.flex_item .icon_right{	
	float:right;
	font-size:35px;
	color:lightgreen;
	margin-right:10px;	
	cursor: pointer;
	align-items: center;

}*/

@media screen and (max-width:850px){
	.box_article{
		display:block;
	}
	.article,.article.start,.article.end{
		justify-content: center;
		width:100%;
	}
	.article_image{
		width:100%;
	}
	
}
@media screen and (max-width:600px){
	.article h2{
		font-size:35px		
	}
	.article p{
		font-size:18px;
	}
}