<div class="back_arroyofrio" >	
	<!--<div class="back_header_arroyofrio">
		<div class="header_arroyofrio">
			<div class="nav_arroyofrio">
				<div class="div_iconmove left" (click)="sendPanel(1)">
					<mat-icon style="vertical-align: middle;color:#37e369">double_arrow</mat-icon>
				</div>
				<div class="nav_title">
					Arroyo Frío
				</div>-->

				<!-- <div class="div_iconmove right" (click)="sendPanel(2)">
					<mat-icon style="vertical-align: middle;color:#37e369">double_arrow</mat-icon>
				</div> -->

			<!--</div>	
		</div>
	</div>-->
	<div class="back_header_arroyofrio">
		<pre-nav-header [panels]="headerPanels" [title] = "headerTitle"></pre-nav-header>
		<!-- <div class="nav_header">
			<div class="header">
				<div class="div_iconmove left" (click)="sendPanel(1)">
					<mat-icon style="vertical-align: middle;color:#37e369">double_arrow</mat-icon>
				</div>
				<div class="nav_title">
					<p>Más sobre ArroyoFrío</p>
				</div>
				<div class="div_iconmove right">
					
				</div>
			</div>
		</div> -->
	</div>

	<!-- <div class="flex_header">
		<div class="div_flex_item" style="" >

			<div class="flex_item" >
				<div class="w15 div_iconleft">
					<mat-icon class="icon_left"  style="" (click)="sendPanel(1)"  >double_arrow</mat-icon>
				-->
				<!-- condition en ngClass método1 -->
					<!-- <mat-icon class="icon_left"  style="" (click)="sendPanel(0)" [ngClass]="{'icon_visible':panel=='1','icon_novisible':panel!='1','icon_transitionActive':switchTransitionFirst}" >double_arrow</mat-icon> -->
				<!--
				</div>
				<div class="w70 div_center" style="">
					<p class="mauto c_white">Más sobre ArroyoFrío</p>	
				</div>
				<div class="w15 div_iconright">
				-->
				<!-- condition en ngClass método2 -->
					<!-- <mat-icon class="icon_right"  style="" (click)="sendPanel(1)" [ngClass]="(panel=='0' ? 'icon_visible':'icon_novisible')+' '+(switchTransitionFirst==true ? 'icon_transitionActive':'')">double_arrow</mat-icon> -->
				<!--
				</div>
			</div>
		</div> 
	</div>-->
	<section class="back_articles" style="" #back_articles>
		<div class="box_article primer" #arroyofrio>
			<article class="article end">
				<div class="center">
					<h2>¿Que se puede hacer en ArroyoFrío?</h2>
					<p>En Arroyo Frío podrás pasar una magnífica estancia en cualquiera de los alojamientos disponibles: hotel, casa, cabaña o apartamento, recorrer rutas con acceso a lugares emblemáticos, realizar actividades multiaventura y disfrutar de los distintos servicios que ofrece el municipio. Es un lugar ideal para una escapada rural conectando con la naturaleza en un parque natural rodeado de paisajes increíbles.</p>
					 
				</div>
			</article>
			<div class="article_image">
				<div class="image">
					<img src="../assets/img/info_arroyofrio/cascada.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="box_article segundo" #aventura>
			
			<div class="article_image">
				<div class="image">
					<img src="../assets/img/info_arroyofrio/ruta_libre.jpg" alt="">
				</div>
			</div>
			<article class="article start">
				<div class="center">
					<h2>¿Te gusta la aventura?</h2>
					<p>Podrás apuntarte a algunas de las numerosas actividades disponibles: Rafting, barranquismo, paseo a caballo, senderismo, rutas en vehículos todoterreno y mucho más.</p>
					
				</div>
			</article>
		</div>
		<div class="box_article free_route" #freeRoute>
			<article class="article end">
				<div class="center">
					<h2>¿A tu ritmo?</h2>
					<p>En Arroyo Frío puedes visitar los diferentes lugares sin necesidad de guía, planificando tus propias rutas y organizando tu tiempo al ritmo que consideres.</p>
					
				</div>
			</article>
			<div class="article_image">
				<div class="image">
					<img src="../assets/img/info_arroyofrio/rafting.jpg" alt="">
				</div>
			</div>
			
			
		</div>
		<div class="box_article" #gastronomy>
			
			<div class="article_image">
				<div class="image">
					<img src="../assets/img/info_arroyofrio/gastronomia.jpg" alt="">
				</div>
			</div>
			
			<article class="article start">
				<div class="center">
					<h2>Gastronomía</h2>
					<p>El municipio cuenta con numerosos bares y restaurantes donde podrás probar platos típicos de la zona, carnes a la brasa, recetas tradicionales de la región como pueden ser las costillas de jabalí, el chorizo de ciervo o las judías con perdiz.</p>
				</div>
			</article>
		</div>
		<div class="box_article pb100" #nature>
			<article class="article end">
				<div class="center">
					<h2>Ocio</h2>
					<p>
						<!-- La magia de Arroyo Frío se basa en la adaptación de una zona rodeada de montes y bosques  entorno cuidado y respetuoso con el medio ambiente combinando con las comodidades típicas de unas vacaciones. --> Arroyo Frío te ofrece una auténtica experiencia con la naturaleza y el medio natural sin prescindir de los hábitos eventuales de un día de ocio como salir de compras a los distintos puestos de venta, comer una pizza, pasar una mañana de relajación o saborear un helado.</p>
				</div>
			</article>
			<div class="article_image">
				<div class="image">
					<img src="../assets/img/info_arroyofrio/comer_helado.jpg" alt="">
				</div>
			</div>
		</div>
		

		
	</section>
</div>
<!-- <div class="back_arroyofrio" >	
	<div class=" w100 h100 arroyofrio" style="">
		<div class=" w80 div_arroyofrio">
			<div style="position:absolute;width:100%;height:100%">
				<div class="div_iconreturn" (click)="sendPanel(0)">
					<mat-icon style="vertical-align: middle;color:#37e369">double_arrow</mat-icon>
				</div>
				<div class="div_iconflag">
					<img src="../../../assets/bandera_espana.png" width="30" style="margin: 5px auto;display: block"/>
					<img src="../../../assets/bandera_andalucia.png" width="30" style="margin: 5px auto;display: block"/>
					<img src="../../../assets/bandera_jaen.png" width="30" style="margin: 5px auto;display: block"/>
				</div>
			</div>
			
			<div class="text_arroyofrio">
				<h2 style="">Arroyo Frío</h2>
				<p class="mauto">
					Arroyo Frío es un pequeño municipio ubicado en el parque natural de Cazorla, Segura y Las Villas, en la provincia de Jaén(España). Aun con su baja población de tan solo 244 habitantes y con una infraestructura limitada, su ubicación y su entorno ha permitido a este espacio convertirse en uno de los lugares idóneos por los amantes de la naturaleza y el entorno rural para pernoctar. Arroyo Frío es unos de los lugares más demandados de turismo rural de España, situándose como el lugar más buscado en 2020. 
				</p>
			</div>
		</div>
	</div>
</div> -->