.back_feedback{
	width:100%;
	display:flex;
	justify-content:center;
}
.flex_item{
	min-height: 50px;

	/*max-height: 100%;*/
	
	width:70%;	
	background-color:rgba(0,0,0,.8);
	
	display: flex;
	/*padding-top: 5px;*/
	
	margin: auto;
	border-radius:10px;
	text-align: center;	
	box-sizing: border-box;
	overflow: hidden;
	user-select: none;
	transition:all 1s linear;
	position:absolute;
	z-index:100;
	
}

.flex_item .banner_icon{
	display: flex;
	font-size:35px;
	color:lightgreen;
	cursor:pointer;
}
.flex_item .banner_icon.right{
	margin-right: 10px;
	margin-top: 5px;
}
.flex_item .banner_icon.left{
	margin-left: 10px;
	margin-top: 5px;
}
.flex_item .bannerp1{
	font-size: 16px;
}

.div_newfeedback{
	width:100%;
	margin-top:10px;	
	transition:all 1s linear;
}
.newfeedback{
	width:100%;
	transition:all 1s linear;
	border-radius:10px;
}

.inputs_formfeed{

}
.b_detailfeed{
	background-color:transparent;
	display:block;
	clear:left;
	position:relative;
	margin:75px auto 0 auto;
}
.detailfeed{
	background-color:rgba(0,0,0,.85);
	width:80%;
	margin:10px auto;
	border-radius:10px;
}
.detailfeed p{
	padding:0;
	margin:8px auto;
}
.detailfeed_divimg{
	margin:auto 20px;
	width:40px;
	height:40px;
	display:flex;
	align-self:center;
}
.detailfeed_divimg2{
	position: absolute;
	display: none;
	width:35px;
}
.detailfeed_img{
	width: 100%;
	border-radius:50%;
	min-width:40px;
}
.detailfeed_img2{
	width: 100%;
	border-radius:50%;
	min-width:35px;
	margin: 5px;
}
.detailfeed .feedback{

}
.detailfeed .feedback2{
	width:100%;
	display:none;
	/*display:flex;*/
	justify-content:center	
}
.detailfeed .text{
	margin: 8px;
}

.feedback_stars{
	font-size: 35px;
	margin: auto 10px;
	cursor: pointer;	
}

@media(max-width: 1200px){
	.feedback_stars{
		font-size: 25px;
		margin: auto 5px;	
	}	
}
@media (max-width: 900px){
	.flex_item{
		width: 100%;
	}
}

@media(max-width: 650px){
	.feedback_stars{
		font-size: 20px;
		margin: auto ;	
	}
	.inputs_formfeed{
		width: 100%;
	}
	.flex_item .banner_icon{
		font-size: 30px;
	}
}

@media(max-width: 550px){
	.detailfeed{
		width: 100%;
	}
	.detailfeed_divimg{
		display: none;
	}
	.detailfeed_divimg2{
		display: block;
	}
	.detailfeed .feedback{
		display: none;
	}
	.detailfeed .feedback2{
		display: flex;
	}
}