<div class="back_feedback" style="">
	<div class="flex_item " style=""  >
		<div class="w15 csrpointer" >			
			<mat-icon class="banner_icon floatL mr10" title="Volver a alojamientos" (click)="switchForm()" *ngIf="switchHeightForm">close</mat-icon>
			<mat-icon class="banner_icon floatL mr10" title="Volver a alojamientos" (click)="switchForm(true)" *ngIf="!switchHeightForm">add_circle</mat-icon>
			<div class="w100 h100" (click)="switchForm()">
			</div>

		</div>
		<div class="w70" >
			<!--<div style="display:flex;align-items:center">Feedback</div>-->
			<p class="mauto">Feedback</p>
			<!--<span style="display:flex;margin:auto">-->
			<p class="mauto">
				<pre-divlevel [numLevelFeedback]="numLevelFeedback"></pre-divlevel>
			</p>

			<!--</span>-->
		<!-- formulario de registro de feedback -->
			<div class="c_black div_newfeedback" style="" >
				<form [formGroup] = "formFeed" (ngSubmit)="onSubmit()" >
					<div [ngStyle]="{'height':heightPanel}" class="back_white newfeedback">
						<div class=" p10 ">
							<mat-form-field class="w50 inputs_formfeed mt5">
								<mat-label>Nick</mat-label>
								<input matInput formControlName="nick">
								<mat-hint *ngIf="!formFeed.controls.nick.value && formFeed.controls.nick.touched" style="color:red">
										Introduzca un nick 
								</mat-hint>
							</mat-form-field>
						</div>
						<div  class=" p10">
							<mat-form-field class="w50 inputs_formfeed">
								<mat-label>Email</mat-label>
								<input matInput formControlName="email" >
								<mat-hint *ngIf="!formFeed.controls.email.value && formFeed.controls.email.touched;else hint" style="color:red">
										Introduzca un email 
								</mat-hint>
								<ng-template #hint>
									<mat-hint *ngIf="formFeed.controls.email.value && formFeed.controls.email.touched && !formFeed.controls.email.valid" style="color:red">
											Introduzca un correo válido
									</mat-hint>
								</ng-template>
							</mat-form-field>
						</div>

						<div class="p10">
							<mat-label >Feedback</mat-label>
							<div style="width:100%;display:flex;justify-content:center;margin-top:20px">
								
							    <span class="material-icons feedback_stars" (click)="setScore(1)" [ngStyle]="scoreStars>=1 ? {'color':'lightgreen'}:{'color':'orange'}">star</span>
							    <span class="material-icons feedback_stars" (click)="setScore(2)" [ngStyle]="scoreStars>=2 ? {'color':'lightgreen'}:{'color':'orange'}">star</span>
							    <span class="material-icons feedback_stars" (click)="setScore(3)" [ngStyle]="scoreStars>=3 ? {'color':'lightgreen'}:{'color':'orange'}">star</span>
							    <span class="material-icons feedback_stars" (click)="setScore(4)" [ngStyle]="scoreStars>=4 ? {'color':'lightgreen'}:{'color':'orange'}">star</span>
							    <span class="material-icons feedback_stars" (click)="setScore(5)" [ngStyle]="scoreStars>=5 ? {'color':'lightgreen'}:{'color':'orange'}">star</span>
								
							</div>
						</div>

						<div class=" p10">
							<mat-form-field class="w50 inputs_formfeed">
								<mat-label>Texto</mat-label>
								<textarea matInput formControlName="text"></textarea>
							</mat-form-field>
						</div>
						<div class="p10">
							<button mat-raised-button type="submit" [disabled]="!formFeed.valid || scoreStars==0">Enviar</button>
						</div>
					</div>
				</form>


			</div>

			
			


		<!-- icono valoraciones -->
			<!--
			<div style="width:15%;cursor:pointer" class="" >
				<mat-icon class="banner_icon " title="Todas las Valoraciones">grade</mat-icon>
			</div>
		
			<div style="width: 70%;font-weight: bold;">
				<p class="mauto c_white bannerp1" #bannerp1>Crear nuevo alojamiento</p>
			</div>

		

			<div style="width:15%;cursor:pointer" class="" >
				<mat-icon class="banner_icon  mr10 floatR"  title="Información">info</mat-icon>
			</div>
		-->
		</div>

		<div class="w15 csrpointer" (click)="switchForm()">
			<mat-icon class="banner_icon floatR" style="margin-right: 10px" title="Volver a alojamientos" (click)="setPanel(1)">double_arrow</mat-icon>
		</div>


	</div>
</div>
<div class="w80 b_detailfeed">
		<div class="detailfeed" *ngFor="let feed of selectFeeds">			
			<div class="w100 d_flex" >
				<div class="detailfeed_divimg">
					<img src="../../../assets/profile/person.png" class="detailfeed_img"/>
					<!--<mat-icon class="material-icons">add</mat-icon>-->
				</div>

				<div class="w100" style="display:block">
					<div class="d_flex" >
						<p style="color:orange;">
							{{feed.nick}}
						</p>
						<pre-divlevel [numLevelFeedback]="feed.feedback"></pre-divlevel>
					</div>
					<p style="">{{feed.text}}</p>
				</div>
			</div>
		</div>
		
		<!--<div class="detailfeed" *ngFor="let feed of selectFeeds">			
			<div class="w100 d_flex">
				<div class="mr10">
					<mat-icon class="material-icons">add</mat-icon>
				</div>

				<div class="w10" style="display:block;">
					<div class="d_flex">
						<p class="" style="color:orange;">
							{{feed.nick}}
						</p>
						<pre-divlevel></pre-divlevel>
					</div>
					<p>{{feed.text}}</p>
				</div>
			</div>
		</div>-->
	</div>