<div class="m10">
	<mat-accordion >
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					<p class="mauto">Imágenes</p>
				</mat-panel-title>
				<!--<mat-panel-description>
					<input type="file" placeholder="Subir archivos">
				</mat-panel-description>-->
			</mat-expansion-panel-header>

			<div class="back_upload" style="" (drop)="dropHandler($event)" (dragover)="dragOverHandler($event)">
				<div class="box" style="/*box-shadow:1px 1px 1px black, -1px 1px 1px black,1px 1px 15px black inset;*/">
					
				</div>
				<div class="info_upload" *ngIf="!existsImg">
					<p class="text" >No superiores a 2 MB</p>
					<button class="btn" mat-raised-button type="button">Arrastrar imagen aquí</button>
				</div>
				<div class="back_images" *ngIf="existsImg" >
				<!-- añadir display:flex si es más alta que ancha, necesario 
					para que se vea el icono close en ese tipo de imágenes-->
					<div class="box_images" *ngFor="let images of listImages;let j=index">
						<span class="w100">
							<div class="div_images">
								<img [src]="images" class="images" />
								<div class="delete_images" (click)="deleteTransfer(j)">
									<mat-icon class="material-icons">
										close
									</mat-icon>
								</div>
							</div>
						</span>	
					</div>
				</div>
			</div>
		</mat-expansion-panel>
	</mat-accordion>
</div>
