<div class="back_arroyofrio" >	
	<div class=" w100 h100 arroyofrio" style="">
		<div class=" w80 div_arroyofrio">
			<div style="position:absolute;width:100%;height:100%">
				<div class="div_iconreturn" (click)="sendPanel(0)">
					<mat-icon style="vertical-align: middle;color:#37e369">double_arrow</mat-icon>
				</div>
				<div class="div_iconflag">
					<img src="../../../assets/bandera_espana.png" width="30" style="margin: 5px auto;display: block"/>
					<img src="../../../assets/bandera_andalucia.png" width="30" style="margin: 5px auto;display: block"/>
					<img src="../../../assets/bandera_jaen.png" width="30" style="margin: 5px auto;display: block"/>
				</div>
			</div>
			<!--<div class="div_img" style="">
				<img class="img_arroyofrio" src="../../../assets/ciervos.jpg" />
			</div>-->
			<div class="text_arroyofrio">
				<h2 style="">Arroyo Frío</h2>
				<p class="mauto">
					Arroyo Frío es un pequeño municipio ubicado en el parque natural de Cazorla, Segura y Las Villas, en la provincia de Jaén(España). Aun con su baja población de tan solo 244 habitantes y con una infraestructura limitada, su ubicación y su entorno ha permitido a este espacio convertirse en uno de los lugares idóneos por los amantes de la naturaleza y el entorno rural para pernoctar. Arroyo Frío es unos de los lugares más demandados de turismo rural de España, situándose como el lugar más buscado en 2020. 
				</p>
			</div>
			
				
			
			
		</div>
		
	</div>
	
</div>