.back_arroyofrio{
	width: 100%;
	height: 100vh;
	background-image: url('../../../assets/arroyofrio.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	position: relative;
	
}
.back_header_arroyofrio{
	background-color:#696969;
	height:70px;
	width:100%;
}
/*.header_arroyofrio{
	align-items:center;
	display:flex;
	height:100%;
	margin:auto;
	width:80%;
}*/
/* anulado */
/*.nav_arroyofrio{
	align-items:center;
	border-radius:15px;
	background-color:rgba(0,0,0,.8);
	display:flex;
	height:40px;
	justify-content:space-between;
	width:100%;
}*/
/*botones de ir a anterior o siguiente panel */
/*.div_iconmove{
	position: relative;
	cursor:pointer;
	width:10%;
}
.div_iconmove.left{
	display:flex;
	justify-content:flex-start;
	margin-left:10px;
	
}
.div_iconmove.left .mat-icon{
	transform: rotate(180deg);
}
.div_iconmove.right{
	display:flex;
	justify-content:flex-end;
	margin-right:10px;	
}
.nav_title{
	width:80%;
}*/
.arroyofrio{
	position:relative;
	display:flex;
	align-items:flex-end;
}


.div_mask{
	width:100%;
	height:100%;
	position:absolute;
	background-color:rgba(0,0,0,.3);
}

.div_arroyofrio{
	
	/*background-color: rgba(0,0,0,.7);*/
	background-color: rgba(40,40,40,.7);
	margin:60px auto;
	color:white;
	position:relative;	
	overflow: auto;
}
.div_arroyofrio .icons{
	height:100%;
	position:absolute;
	width:100%;
}

/*.div_iconreturn{
	position: relative;
	cursor:pointer;
	top: 50%;
	float:left;
	left: 10px;
	transform:translate(0,-50%) rotate(180deg);
	padding:3px;
	border:#D3D3D3 1px solid;
	border-radius:50%;
}*/
.div_iconreturn{
	display:none;
}
.div_iconreturn.active{
	display:block;

}
.div_iconreturn mat-icon{
	color:orange;
}
.div_iconreturn mat-icon:hover{
	color:#37e369;
}
.div_iconflag{
	float:right;
	position:relative;
	top:50%;
	right:10px;
	transform:translate(0%,-50%);
}
.div_img{
	margin:auto;
	width:100%;
	display:flex;
	align-items: flex-end;
	height:300px;
	justify-content:center
}
.img_arroyofrio{
	margin-top: 20px;
}

.text_arroyofrio{
	display: flex;
	margin:20px  auto;
	width: 80%;
	font-size: 20px;
	font-family: Quicksand;
	font-weight: bold;
	line-height: 25px;
	display: block;
}
.text_arroyofrio h2{
	width:100%;
	margin:10px auto;
	display: flex;
	justify-content: center;
}

/*** media queries ***/
@media (max-width: 800px){
	.text_arroyofrio{
		font-size: 18px;
	}
	.div_iconreturn {
		top: 6%;
		transform: translate(0,0),rotate(180deg);
	}
	.div_iconflag{
		top: 1%;
		transform: translate(0,0);
	}

}
@media(max-width: 500px){
	.text_arroyofrio{
		font-size: 16px;
	}
	.arroyofrio{
		align-items: normal;
	}	
}