.inputsrent{
	width:95%;
	display:flex;
	flex-flow:row nowrap;
	margin: 10px auto;
}
.inputrent{
	width: 50%;
	margin: auto 5px;
}
.inputrent .div_form{
	background-color:#F3F3F3;
	text-align:center;
	display: flex;
	justify-content: center;
}
.inputrent .div_form .form{
	/*color:#ff7500;*/
	margin-top:4px;
}


@media(max-width: 650px){
	.inputsrent{		
		display: block;
	}
	.inputrent{
		width: 100%;
		margin: auto;
	}
}

@media(max-width: 400px){
	.mat-form-field{
		display: block;
	}
}