<div [formGroup]="formCardRent">
	<div class="inputsrent" >
		<div class="inputrent" >
			<div style="background-color:#f3ffea;text-align:center;margin:10px auto">
						
				<mat-form-field style="color:orange;margin-top:4px">
					<mat-label>Nombre</mat-label>
					<input matInput placeholder="Apartamentos Martín" formControlName="name">
					<mat-icon matSuffix>title</mat-icon>
					<mat-hint *ngIf="!formCardRent.controls.name.value && formCardRent.controls.name.touched" style="color:red">
						Introduzca un nombre de alojamiento
					</mat-hint>
				</mat-form-field>
				<p></p>
			</div>
		</div>
		<div class="inputrent">
			<div style="background-color:#f3ffea;text-align:center;">
				<p style="background-color:#f3ffea;text-align:center">
					<mat-form-field style="color:orange;margin-top:4px">
						<mat-label>Teléfono</mat-label>
						<span matPrefix>+34 &nbsp;</span>
						<input matInput type="tel" placeholder="626050505" formControlName="phone" type="number">
						<mat-icon matSuffix>phone</mat-icon>
						<mat-hint *ngIf="!formCardRent.controls.phone.value && formCardRent.controls.phone.touched;else hint" style="color:red">
							Introduzca un teléfono 
						</mat-hint>
						<ng-template #hint>
							<mat-hint *ngIf="formCardRent.controls.phone.value && formCardRent.controls.phone.touched && !formCardRent.controls.phone.valid" style="color:red">
								Introduzca un número válido
							</mat-hint>
						</ng-template>
					</mat-form-field>
				</p>
			</div>
		</div>
	</div>
	  
	<div class="inputsrent">
		<div class="inputrent">
			<p style="background-color:#f3ffea;text-align:center">
				<mat-form-field style="color:black;margin-top:4px">
					<mat-label>Web</mat-label>
					<input matInput placeholder="http://www.midominio.es" type="url" formControlName="web">
					<mat-icon matSuffix>web</mat-icon>
					<mat-hint *ngIf="formCardRent.controls.web.value && formCardRent.controls.web.touched && !formCardRent.controls.web.valid">
						Introduzca una dirección válida
					</mat-hint>
				</mat-form-field>
			</p>
		</div>
		<div class="inputrent">
			<p style="background-color:#f3ffea;text-align:center">
				<mat-form-field style="color:black;margin-top:4px">
					<mat-label>Dirección maps</mat-label>
					<input matInput placeholder="https://www.google.es/maps/..." type="url" formControlName="maps">
					<mat-icon matSuffix>location_on</mat-icon>
					<mat-hint *ngIf="formCardRent.controls.maps.value && formCardRent.controls.maps.touched && !formCardRent.controls.maps.valid" style="color:red">

						Introduzca una dirección válida 
					</mat-hint>
				</mat-form-field>
			</p>							
		</div>
	</div>

	<div class="inputsrent">
	  	<div class="inputrent">
			<p style="text-align:center;background-color:#f3ffea;">
				<mat-form-field style="color:black;margin-top:4px;">
					<mat-label>Tipo</mat-label>
					<mat-select [formControl]="type" multiple (selectionChange)="updateType()">
						<mat-select-trigger>
							{{type.value ? type.value[0] : ''}}
								<span *ngIf="type.value?.length > 1" class="example-additional-selection">
								({{type.value.length - 1}} {{type.value?.length === 2 ? 'tipo' : 'tipos'}} más)
								</span>
						</mat-select-trigger>	

						<mat-option *ngFor="let item of listTypeRent" [value]="item" >{{item}}</mat-option>
					</mat-select>
					<mat-icon matSuffix>home</mat-icon>
					<mat-hint *ngIf="!type.value && type.touched" style="color:red">						
						Seleccione un tipo de alojamiento 
					</mat-hint>
				</mat-form-field>	
			</p>
		</div>							  
		<div class="inputrent">
			<div style="background-color:#f3ffea;text-align:center;">
				<mat-form-field style="color:black;margin-top:4px;" >
					<mat-label>Capacidad</mat-label>
					<mat-select [formControl]="capacity" multiple (selectionChange)="createFormArray()">
						<mat-select-trigger>
							{{capacity.value ? capacity.value[0] : ''}}
								<span *ngIf="capacity.value?.length > 1" class="example-additional-selection">
								({{capacity.value.length - 1}} {{capacity.value?.length === 2 ? 'capacidad' : 'capacidades'}} más)
								</span>
						</mat-select-trigger>	

						<mat-option *ngFor="let item of lista" [value]="item" >{{item}} personas</mat-option>
					</mat-select>
					<mat-icon matSuffix>group</mat-icon>
					<mat-hint *ngIf="!capacity.value && capacity.touched" style="color:red">						
						Seleccione una capacidad 
					</mat-hint>
				</mat-form-field>
			</div>
		</div>
	</div>
</div>
