/* You can add global styles to this file, and also import other style files */
.g-image-loaded{
	//height: 100%;
}
.mygallery{
	height: 100vh;
}
.g-image-item{
	//background-size: 100%  !important;

	
}
html,body{
	margin: 0;
	

}

::-webkit-scrollbar{
	display: none;
}

			/******* genéricos *********/

.floatL{
	float: left;
}
.floatR{
	float: right;
}
.m10_auto{
	margin: 10px auto;
}

.mauto{
	margin: auto;
}
.mauto_imp{
	margin: auto !important;
}

.mr10{
	margin-right: 10px;
}

.back_green{
	background-color:#f3ffea;
}
.back_brown{
	background-color: rgba(74,58,58,1);
}

.c_white{
	color: #FFFFFF;
}
.c_lightgreen{
	color: lightgreen;
}
.c_orange{
	color: orange;
}
.c_blue{
	color: blue;
}

.w100{
	width: 100%;
}
.w70{
	width: 70%;
}
.w50{
	width: 50%;
}
.w30{
	width: 30%;
}

.h100{
	height: 100%;
}

.d_flex{
	display: flex;
}

.t_center{
	text-align: center;
}

.fsize_10{
	font-size: 10px;
}

