<!--<p>home works!</p>-->

<!--<div >
	<button>boton despues</button>
</div>-->
<section class="section1" #section1 >
	<div class="container_snow" id="container_snow1" [ngStyle]="{'opacity':switchOpacitySnow}" *ngIf="switchAllOpacitySnow">
		<div [ngStyle]="{'top':snow.styleTop+'px','left':snow.styleLeft,'animationName':snow.animationName,animationDuration:snow.animationDuration,'animationDelay':snow.animationDelay}" *ngFor="let snow of snows">
			<img [src]="snow.image.name" [ngStyle]="{'animationName':snow.image.animationName,'animationDuration':snow.image.animationDuration}" />
		</div>
	</div>
	<div class="container_snow2" [ngStyle]="{'opacity':switchOpacitySnow2}" *ngIf="switchAllOpacitySnow">
		<div [ngStyle]="{'top':snow.styleTop+'px','left':snow.styleLeft,'animationName':snow.animationName,animationDuration:snow.animationDuration,'animationDelay':snow.animationDelay}" *ngFor="let snow of snows2">
			<img [src]="snow.image.name" [ngStyle]="{'animationName':snow.image.animationName,'animationDuration':snow.image.animationDuration}" />
		</div>
	</div>
	<button mat-icon-button (click)="enviar(2)" style="position: fixed;z-index: 300;top:20px;color:#FFF;background: transparent;left:50%;transform:translate(-50%,-50%) scale(1.5,1.5);border:transparent 2px solid">
			<mat-icon style="transform:rotate(270deg) scale(1,2);color:#000;margin-bottom:1px">
				double_arrow
			</mat-icon>
		</button >
	<div style="width:100%;height: 100vh;position:absolute;background-color:rgba(0,0,0,0.5);">
		<mat-button-toggle-group name="matButtonToggleGroup" style="color:#fff;position:fixed;z-index: 300;top:30%;left:5%;background:#ff7500" vertical>
			<mat-button-toggle (click)="enviar(1)">
				<mat-icon>info_round</mat-icon>
			</mat-button-toggle>
			<mat-button-toggle (click)="enviar(2)">
				<i class="material-icons material-icons-two-tone">home</i>
			</mat-button-toggle>
			<mat-button-toggle (click)="enviar(3)">
				<i class="material-icons material-icons-outlined">home</i>
			</mat-button-toggle>
			<mat-button-toggle (click)="enviar(4)" title="Actividades">
				<i class="material-icons material-icons-sharp">home</i>
			</mat-button-toggle>
			<mat-button-toggle (click)="flash()">
				<mat-icon>
					<i class="material-icons-round">home</i>
				</mat-icon>
			</mat-button-toggle>
		</mat-button-toggle-group>
	</div>
	<div style="width:100%;height:100%;">
		<!--<div class="back_image" style="position:absolute"></div>-->
		<div class="back_image" style="" #backimage></div>
		
		<div class="back_image2" style="opacity:0" #backimage2></div>
			<!--<img src="./assets/cerrada_de_elias.jpg" style="width:100%;overflow:hidden;z-index:300"/>-->
			<!--<img src="./assets/cerrada_de_elias.jpg" style="width:100%;overflow:hidden;z-index:300"/>-->
		
		
	</div>
	<button mat-icon-button (click)="enviar(2)" style="position: fixed;z-index: 300;bottom:1px;color:#FFF;background: transparent;left:50%;transform:translate(-50%,-50%) scale(1.5,1.5);border:transparent 2px solid">
			<mat-icon style="transform:rotate(90deg) scale(1,2);color:#000;margin-bottom:1px">
				double_arrow
			</mat-icon>
		</button >
	
</section>
<section id="section2" class="section1" #section2>
	<div style="width:100%;height: 100vh;position:absolute;background-color:rgba(0,0,0,0.5);">
		<gallery [items]="images" fluid class="mygallery" [thumb]="false" ></gallery>
	</div>
	
	<!--<div style="width:100%;display:flex;position:absolute">
		<button class="boton2" (click)="enviar(1)">Botón</button>
	</div>-->
</section>
<section id="section3" class="section1" #section3 style="background-color:#676767;transition:transform 0.3s linear">
	<div style="position:absolute;height:100%;display:block;overflow:hidden;" [ngStyle]="{'width':firstWidth+'px'}">
		<pre-activity [firstwidth]="firstWidth"></pre-activity>
	</div>


	
	<!--<div style="width:100%;display:flex;position:absolute">
		<button class="boton2" (click)="enviar(1)">Botón</button>
	</div>-->
</section>
<section class="section1" #section4 style="background-color:#676767">
	<pre-cardrent></pre-cardrent>
	<div style="width:100%;height: 100vh;position:absolute;background-color:rgba(255,255,255,0.7);overflow:scroll">
		
	</div>
</section>