.section1{
	//min-height: 100vh;
	height: 100vh;
	//max-height: 600px;
	//max-height: 100%;
	margin: 0;	
	padding: 0;

	
}


.boton1{
	display: flex;
	margin: auto;
	text-align: center;	
	background: orange;
	position: absolute;
	left: 50%;
	bottom: 100px;
	color: #FFF;
}
#section2 .boton2{
	display: flex;
	position: absolute;
	margin: auto;
	text-align: center;	
	background: red;	
	bottom: 100px;
	z-index: 999;
	left: 50%;
	color: #FFF;

}

/*
.gallery-container{	
	display: grid;


	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 250px;
	grid-gap: 10px;
	height: 100vh;
}

.gallery__img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;

}

.gallery__item:nth-child(4){
	grid-column-start: span 2;
}
.gallery__item:nth-child(6){
	grid-row-start: span 2;
}
*/
/*
.flex-container{
	width: 100%;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-color: #676767;
	min-height: 600px;
	padding: 20px;
	height: 100vh;
}

.caja{
	//background:rgba(0,0,0,0.5);
	text-align: center;
	margin: 5px;
	width: 15%;
	height: 40vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}
.caja1{
	background-image: url("../../assets/galeria1.jpg");
}
.caja2{
	background-image: url("../../assets/river.jpg");
}
*/

.div_flex{
	width: 100%;
	//display: flex;
	height: 100vh;
	//padding: 15px;
	
	padding: 20px;
	//background-color: lightblue;
	//background: transparent;
	//flex-flow: row wrap;
	justify-content: center;
	overflow: auto;
	scrollbar-width: none;
	
	box-sizing: border-box;


}
.flex_header{

	height:60px;
	width:100%;

}

.flex_item{
	width:70%;	
	background-color:rgba(0,0,0,.5);
	//border:black 2px solid;
	
	padding: 5px;
	
	margin: auto;
	border-radius:10px;
	text-align: center;
	
	box-sizing: border-box;
}

.flex_content{
	width: 100%;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	//background-color: orange;	
	box-sizing: border-box;
}

.div_box{
	width: 23%;
	max-width: 500px;
	//height: 30vh;
	background: transparent;
	margin: 15px auto;
	padding: 0px min(5px);
	position: relative;
	overflow: hidden;	
	//box-shadow: -10px 10px 6px rgba(0,0,0,.5),-4px 5px 8px rgba(0,0,0,.4), 14px -15px 8px rgba(0,0,0,.4) inset;
	cursor: default;
}

.box_image{
	//opacity: 1;
	width: 100%;
	height: auto;

	
}


.box_image .div_image{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	//border: rgba(0,0,0,.5) 2px solid;
	//cursor: pointer;

	
	background-color: rgba(0,0,0,.7);
	overflow: hidden;
	
}
.box_image .div_image .title_image{
	//visibility: hidden;
	opacity: 0;
	position:absolute;
	width:calc(100% - 10px);
	bottom:-105px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	height:50px;
	background:rgba(0,0,0,.7);
	z-index:101;
	transition: visibility 0s linear, opacity 1s ease-out, bottom 0.8s ease-out;
	overflow: hidden;
	cursor: default;
}
.box_image:hover .div_image .title_image{
 	opacity: 1;
 	//visibility: visible;
 	bottom: -2px;
 }

.box_image .div_image .title_image .text_title{
	color:white;
	text-align:center;
	font-weight: bold;
	font-size: 16px;
}

.box_image .div_image .title_image .icon_image{
	cursor: pointer;
	position: absolute;
	right: 5px;
	font-size:30px;
	color:#ff7500;
	margin-right:15px;
	margin-top:8px
}






				/*class clone div_image */
.box_image .clone_div_image{
	width: calc(100% - 10px);
	height: 100%;

	border-radius: 10px;
	//border: rgba(0,0,0,.5) 2px solid;
	//cursor: pointer;
	position: absolute;
	//left: 0;
	opacity: 1;
	background-color: rgba(0,0,0,.4);
	transition: transform 4s linear, opacity 1s linear, background 4s linear;
	z-index: 100;
	overflow: hidden;
}
.box_image:hover .clone_div_image{
	opacity: 0;		


}
					/* class img*/
.box_image .div_image .div_ima{
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: transform 1s linear;

}
.box_image:hover .div_image .div_ima{
	transform: scale(1.5);
}

.box_image .div_image{
	transition: transform 1s linear;
}
/*
.myspan:hover .div_image{
	width: calc(100% - 10px);
	height: 100%;
	overflow: hidden;
	transform: scale(1.1);
	transition: transform 1s linear;
}
*/


@media (max-width: 1450px){
	.div_box{
		min-width: 210px;
		height: 200px;			
	}
	

}
@media (min-width:1400px) {
	.flex_item{
		width:60%
	}
}
@media (max-width: 900px){
	.flex_item{
		width: 100%;		
	}
}

@media (max-width: 600px){
	.flex_content{
		margin-top: 10px;
	}
}


