<!--<p>home works!</p>-->

<!--<div >
	<button>boton despues</button>
</div>-->
<section class="section1" #section1 >
	<!--botón superior -->	
	<button mat-icon-button (click)="setSection(sectionId-1)" class="btn_slider_section top" *ngIf="sectionId != 1">
		<mat-icon class="icon" matTooltipClass="bx_tooltip" [matTooltip]="last">
			double_arrow
		</mat-icon>
	</button >
	<pre-buttongroup  [firstwidth]="firstWidth" [buttonValue]="buttonValue" (emitClassMainMenu)="toggleMainMenu()"></pre-buttongroup>

	
	<!--div -->
	<div  style="height:100vh;overflow:hidden;background-color:rgba(0,0,0,.3)" [ngStyle]="{'width':firstWidth+'px'}" >
		<div #divsection1  style="height:100%;display:flex;flex-flow:row wrap;transition:transform 1s linear" [ngStyle]="{'width':firstWidth*3+'px'}" >
			
			<div [ngStyle]="{'width':firstWidth+'px'}"  style="overflow:hidden"  >
			<!-- animación lluvia -->
				<pre-rainhome [firstwidth]="firstWidth" (emitFlash)="flash()"></pre-rainhome>
				<!--grupo de botones (lateral)-->
	
				
			

			<!-- div todo -->	
				<div class="last_back" style="">
					<!--<div style="width:100%;height:100vh;position:absolute;top:15%;z-index:300">
						<div style="width:80%;height: 80%;display:flex;justify-content:center;margin:auto;border:white 1px solid">
							<p style="color:orange">Descubre Cazorla desde Arroyo Frío</p>
						</div>
					</div>-->
					<pre-floatheader></pre-floatheader>
				<!-- menu principal -->
					<pre-mainmenu [firstwidth]="firstWidth" [classMainMenu]="classMainMenu" (emitClassMainMenu)="toggleMainMenu()" (setSection)="sendSection($event)"></pre-mainmenu>

				<!-- imágenes home -->
					<div style="position:absolute;background-color:rgba(0,0,0,0);width:100%;height:100%;z-index:0">

						<!-- <div class="back_image" style="z-index:100" #backimage>
							<div style="position:absolute;width:100%;height:100%;background-color:rgba(0,0,0,.3)"></div>
						</div> -->
					
						<div class="back_image2" style="opacity:0;z-index:100" #backimage2></div>
					</div>
					<!--<div class="back_image" style="position:absolute"></div>-->

						<!--<img src="./assets/cerrada_de_elias.jpg" style="width:100%;overflow:hidden;z-index:300"/>-->
						<!--<img src="./assets/cerrada_de_elias.jpg" style="width:100%;overflow:hidden;z-index:300"/>-->
				</div>
			
				
			</div>
			<div [ngStyle]="{'width':firstWidth+'px'}" >
				<div style="width:100%" >
					<pre-arroyofrio></pre-arroyofrio>
				</div>
			</div>
			<div [ngStyle]="{'width':firstWidth+'px'}" >
				<div style="width:100%" >
					<pre-info-arroyo-frio></pre-info-arroyo-frio>
				</div>
			</div>

		</div>
	</div>
	<!-- botón inferior -->
	<button mat-icon-button (click)="setSection(sectionId+1)" class="btn_slider_section bottom">
		<mat-icon class="icon" matTooltipClass="bx_tooltip" [matTooltip]="next">double_arrow</mat-icon>
	</button>

</section>
<section id="section2" class="section1 back_s2" #section2>
	<div class="div_s2"   [ngStyle]="{'width':firstWidth+'px'}" >
		<pre-places [firstwidth]="firstWidth"></pre-places>
	</div>
	<!--<div style="width:100%;display:flex;position:absolute">
		<button class="boton2" (click)="setSection(1)">Botón</button>
	</div>-->
</section>
<section id="section3" class="section1 back_s3" #section3>
	<div  class="div_s3" [ngStyle]="{'width':firstWidth+'px'}" >
		
		<pre-activity [firstwidth]="firstWidth"></pre-activity>		
		<!--</div>-->
		
		<!--<div [ngStyle]="{'width':firstWidth+'px'}"   >-->
			<!--<div style="width:90%;height: 100vh;position: relative;background-color:transparent;margin:auto;display:flex;" >-->	
		
			
				
			
		
		<!--</div>-->
	</div>
	<!--<div style="width:100%;display:flex;position:absolute">
		<button class="boton2" (click)="setSection(1)">Botón</button>
	</div>-->
</section>
<section id="section4" class="section1 back_s4" #section4  style="">

	<div class="div_s4"  [ngStyle]="{'width':firstWidth+'px'}">
		<pre-cardrent [firstwidth]="firstWidth"></pre-cardrent>
	</div>
		
		<!--<div style="width:100%;height: 100vh;position:absolute;background-color:rgba(255,255,255,0.7);overflow:scroll">
			
		</div>-->
	
</section>
<section class="section1 back_s3" #section5 style="">
	<div style="width: 100%;height: 100vh;background-color:rgba(0,0,0,0.5);position:absolute;background-position:center;overflow:hidden;display:flex" >
		<gallery [items]="images" fluid class="mygallery" [thumb]="false" ></gallery>
	</div>
	
	<!--<div style="width:100%;display:flex;position:absolute">
		<button class="boton2" (click)="setSection(1)">Botón</button>
	</div>-->
	
	
	
</section>
<section>
	</section>