.section1{
	/*min-height: 100vh;*/
	height: 100vh;
	/*
	max-height: 600px;
	max-height: 100%;
	*/
	margin: 0;	
	padding: 0;
	z-index: 100;
	overflow: hidden;

	
}
.back_image{
	background-image:  url("../../assets/cerrada_de_elias2.png");
	background-position: top center;	
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	/*background-clip: padding-box;*/
}
.back_image2{
	position: absolute;
	z-index: 0;	
	top: 0;
	background-image:  url("../../assets/cerrada_de_elias_byn.png");
	background-position: top center;	
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	/*background-clip: padding-box;	*/
}
.animated{
	animation-iteration-count: 1;
	animation-duration: 5s;
	animation-fill-mode: both;	
}

.flash{
	animation-name: flash;
} 
@keyframes flash{
	0%,50%,90%{
		opacity: 1;
	}
	25%,75%,100% {
		opacity: 0;
	}
}


.boton1{
	display: flex;
	margin: auto;
	text-align: center;	
	background: orange;
	position: absolute;
	left: 50%;
	bottom: 100px;
	color: #FFF;
}
#section2 .boton2{
	display: flex;
	position: absolute;
	margin: auto;
	text-align: center;	
	background: red;	
	bottom: 100px;
	z-index: 999;
	left: 50%;
	color: #FFF;

}

		/*              galery con grid                */


.gallery-container{	
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/*grid-auto-rows: 200px;*/
	/*pasamos a minmax para poder establecer con height el botón de cierre*/
	grid-auto-rows: minmax(20px 200px);
	grid-gap: 10px;
	/*height: calc(100vh - 90px);*/
	height: 0;	
	
}
.gallery-container div{
	grid-auto-rows: 200px;
	grid-column-start: span 1;

}
/*boton de cierre (siempre centrado, ocupa x columnas según resolución)*/

.gallery-container .gallery_first{
	grid-column-start:span 3;
	height: 20px;

	
	
}
.gallery-container div:first-child{
	
}

.gallery__img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;

}
.gallery__item{
	position: relative;
	/*grid-column-start: span 3 !important;*/
}


/*anulado para el responsive, requiere mucho tiempo para establecer un diseño galería
para cada resolución (necesario establecer con 1 columna, 2 columnas y con 3 columnas)
/*
.gallery__item:nth-child(2){
	grid-column-start: span 2;
}
.gallery__item:nth-child(4){
	//grid-column-start: span 2;
}
.gallery__item:nth-child(5){
	//grid-row-start: span 2;
	//grid-column-start: span 3;
}
.gallery__item:nth-child(7){
	//grid-row-start: span 2;
	//grid-column-start: span 3;
}
*/
				/* fin gallery grid */

/*
.flex-container{
	width: 100%;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-color: #676767;
	min-height: 600px;
	padding: 20px;
	height: 100vh;
}

.caja{
	//background:rgba(0,0,0,0.5);
	text-align: center;
	margin: 5px;
	width: 15%;
	height: 40vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}
.caja1{
	background-image: url("../../assets/galeria1.jpg");
}
.caja2{
	background-image: url("../../assets/river.jpg");
}
*/

.div_flex{
	width: 100%;
	/*display: flex;*/
	height: 100vh;
	/*padding: 15px;*/
	
	padding: 20px;
	
	/*background: transparent;*/
	
	justify-content: center;
	overflow: auto;
	scrollbar-width: none;
	
	box-sizing: border-box;
}
.div_flex_card{
	width: 100%;
	display: flex;
	height: 100vh;
	/*padding: 15px;*/
	
	padding: 20px;	
	justify-content: center;
	overflow: auto;
	scrollbar-width: none;
	
	box-sizing: border-box;	
}
.flex_header{

	height:70px;
	width:100%;

	position: relative;
	z-index: 300;
}
.flex_header .div_flex_item{
	width:100%;
	margin:30px auto;

	
}

.flex_item{
	min-height: 50px;

	/*max-height: 100%;*/
	
	width:70%;	
	background-color:rgba(0,0,0,.7);
	
	display: flex;
	padding: 5px;
	
	margin: auto;
	border-radius:10px;
	text-align: center;	
	box-sizing: border-box;

	
}
.flex_item .banner_icon{
	display: flex;
	font-size:35px;
	color:orange;
	cursor:pointer;

	
}

.flex_content{
	width: 100%;
	margin: auto;
	display: flex;
	flex-flow: row wrap;	
	box-sizing: border-box;
}

.div_box{
	width: 23%;
	max-width: 500px;
	
	background: transparent;
	margin: 15px auto;
	padding: 0px min(5px);
	position: relative;
	overflow: hidden;	
	/*box-shadow: -10px 10px 6px rgba(0,0,0,.5),-4px 5px 8px rgba(0,0,0,.4), 14px -15px 8px rgba(0,0,0,.4) inset;*/
	cursor: default;
}

.box_image{
	/*opacity: 1;*/
	width: 100%;
	height: auto;

	
}


.box_image .div_image{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	/*border: rgba(0,0,0,.5) 2px solid;*/
	/*cursor: pointer;*/

	
	background-color: rgba(0,0,0,.7);
	overflow: hidden;
	
}
.box_image .div_image .title_image{
	/*visibility: hidden;*/
	opacity: 0;
	position:absolute;
	width:calc(100% - 10px);
	bottom:-105px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	height:50px;
	background:rgba(0,0,0,.7);
	z-index:101;
	transition: visibility 0s linear, opacity 1s ease-out, bottom 0.8s ease-out;
	overflow: hidden;
	cursor: default;
}
.box_image:hover .div_image .title_image{
 	opacity: 1;
 	/*visibility: visible;*/
 	bottom: -2px;
 }

.box_image .div_image .title_image .text_title{
	width: 74%;
	margin:14px auto;
	color:white;
	text-align:center;
	font-weight: bold;
	font-size: 16px;
}

.box_image .div_image .title_image .icon_image{
	cursor: pointer;
	position: absolute;
	right: 10px;
	font-size:30px;
	color:#ff7500;
	
	margin-top:8px
}


				/*class clone div_image */
.box_image .clone_div_image{
	width: calc(100% - 10px);
	height: 100%;

	border-radius: 10px;
	/*
	border: rgba(0,0,0,.5) 2px solid;
	cursor: pointer;
	left: 0;
	*/
	position: absolute;
	
	opacity: 1;
	background-color: rgba(0,0,0,.4);
	transition: transform 4s linear, opacity 1s linear, background 4s linear;
	z-index: 100;
	overflow: hidden;
}
.box_image:hover .clone_div_image{
	opacity: 0;		


}
					/* class img*/
.box_image .div_image .div_ima{
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: transform 1s linear;

}
.box_image:hover .div_image .div_ima{
	transform: scale(1.5);
}

.box_image .div_image{
	transition: transform 1s linear;
}

.flex_content .modal_detail{
	width:80%;
	height: 80%;
	position:absolute;
	background:rgba(0,0,0,.7);
	z-index: 102;
	margin: auto;
	left: 10%;
	/*visibility: hidden;*/
	overflow: scroll;
}
.flex_content .modal_detail2{
	width:80%;
	//width: 50%;
	height: 80%;
	position:absolute;
	background:rgba(0,0,0,.7);
	z-index: 102;
	margin: auto;
	left: 10%;
	/*visibility: hidden;*/
	overflow: scroll;
}
.flex_content>.modal_detail .modal_image,.flex_content>.modal_detail2 .modal_image{
	display: block;	
	max-width: 600px;
	width: 50%;
	margin:10px auto;
	background: orange;
}
.flex_content .modal_detail h2.modal_title,.flex_content .modal_detail2 h2.modal_title{
	width: 80%;
	color: #FFF;
	text-algin:center;	
	z-index: 103;
	position: relative;
	margin:20px auto;
	display: flex;
	justify-content: center;
}
.flex_content .modal_detail p.modal_text, .flex_content .modal_detail2 p.modal_text{
	width: 80%;
	margin: 10px auto;
	text-align: center;
	position: relative;
	justify-content: center;
	z-index: 103;
	color: white;
	font-weight: bold;
	font-size: 18px;

}

.feedgreen{
	background-color: lightgreen;
}
.feedorange{
	background-color: orange;
}
.div_feedback div{
	/*background-color: orange;*/
}








/*
.myspan:hover .div_image{
	width: calc(100% - 10px);
	height: 100%;
	overflow: hidden;
	transform: scale(1.1);
	transition: transform 1s linear;
}
*/

			/*		snow		*/
.container_snow{
	position: absolute;
	width: 100%;
	height: 100%;
	/*
	height: 100%;
	*/
	overflow: hidden;
	
}
.container_snow2{
	position: absolute;
	width: 100%;
	height: 100%;
	/*
	height: 100%;
	transition: opacity 5s linear;
	*/
}
.container_snow>div,.container_snow2>div{
	position: absolute;
	width: auto;
	height: 100%;
	z-index: 900;
	animation-iteration-count: infinite, infinite;
	animation-direction: normal normal;
	animation-timing-function: linear, ease-in;
}

.container_snow>div>img,.container_snow2>div>img{
	position: absolute;
	width: auto;
	height: auto;

	animation-iteration-count: infinite;
	animation-direction:  alternate;
	animation-timing-function:  ease-in-out;	
}





@keyframes fade{
	0% {opacity: 1;}
	95% {opacity: 1;}
	100% {opacity: 0;}
}
/*original*/
@keyframes drop2 {
	0% {transform:  translate(0px,-50px);}
	100% {transform: translate(0px,100%);}
	/*100% {transform: translate(0px,650px);}*/
}


@keyframes drop {
	0% {transform:  translate(-0px,-50px);}
	100% {transform: translate(0px,120%);}
	/*100% {transform: translate(0px,650px);}*/
}
@keyframes drop3 {
	0% {transform:  translate(0px,-50px);}
	100% {transform: translate(0px,120%);}
	/*100% {transform: translate(0px,650px);}*/
}

/*original*/
@keyframes clockwiseSpin2{
	0% {transform: rotate(-50deg);}
	100% {transform: rotate(50deg);}
}

@keyframes clockwiseSpin{
	0% {transform:scale(0.8,0.8) rotate(120deg);}
	100% {transform:scale(0.8,0.8) rotate(120deg);}
}

@keyframes counterclockwiseSpinAndFlip{
	0% {transform:  scale(0.5,0.5) rotate(120deg);}

	100% {transform:  scale(0.5,0.5) rotate(120deg)}
}

@keyframes counterclockwiseSpinAndFlip2{
	0% {transform:  scale(-1,1) rotate(50deg);}

	100% {transform:  scale(-1,1) rotate(50deg)}
}


@media (max-width: 1450px){
	.div_box{
		min-width: 210px;
		height: 200px;			
	}
	

}
@media (min-width:1400px) {
	.flex_item{
		width:60%
	}
}

@media (max-width: 1200px){
	.box_image .div_image .title_image .text_title{
		font-size: 12px;

	}
	.gallery-container{
		grid-template-columns: repeat(2, 1fr);

	}
	.gallery-container div{
		grid-auto-rows: 200px;

	}
	/*boton de cierre (siempre centrado, ocupa x columnas según resolución)*/
	.gallery-container .gallery_first{
		grid-column-start:span 2;
	}

	.gallery__item:nth-child(n){
		/*
		grid-column-start: auto;
		grid-row-start: auto;
		*/
	}
}
@media (max-width: 900px){
	.flex_item{
		width: 100%;		
	}
	.card_rent{
		max-width: 100%;		
	}
	.gallery-container{
		grid-template-columns: repeat(2, 1fr);
	}
	.gallery-container div{
		grid-template-columns: repeat(2, 1fr);
		/*grid-column-start: auto;*/
	}
	
	.gallery__item:nth-child(n){
		grid-column-start: auto;
		grid-row-start: auto;
	}
	

}

@media (max-width: 600px){
	.flex_content{
		margin-top: 10px;
	}
	
	.div_icon_hidden{
		display: none;
	}
	
	.icon_circle{
		font-size: 20px;
	}
	.price .price_item{
		font-size: 22px !important;
		color: pink;
	}
	.price .price_detail{
		font-size: 13px !important;		
	}
	.content_renting{
		font-size: 14px;
	}
	.flex_item .banner_icon{
		font-size: 30px;
	}
	.gallery-container{
		grid-template-columns: repeat(1, 1fr);
	}
	/*boton de cierre (siempre centrado, ocupa x columnas según resolución)*/
	.gallery-container .gallery_first{
		grid-column-start: span 1;
	}
	.gallery__item:nth-child(n){
		grid-column-start: auto;
		grid-row-start: auto;
	}
}

@media (max-width: 350px){
	.card_rent{
		max-width: 90%;
	}
	.card_rent .card_image{
		width: 100%;
		margin: auto;
		
		
	}
	.card_rent .card_content{		
		width: 90%;
		margin: auto;
	}
	.card_rent .subcard{
		display: block;
	}
	.title_renting_text{
		font-size: 14px;
	}
	.content_renting{
		width: 100%;
		font-size: 14px;
	}
	.content_renting>div{
		width: 100%;
		font-size: 13px;
	}
	.price .price_item{
		font-size: 20px !important;
		color: pink;
	}
	.price .price_detail{
		font-size: 12px !important;		
	}


}

