<div class="newcard_content">
		
	<div class="newcard_form" >

		<form [formGroup]="formCardRent" (ngSubmit)="onSubmit()" style="display:block;width:100%">
		
		  <div class="inputsrent" >
			<div class="inputrent" >
				
				<div style="background-color:#f3ffea;text-align:center;">
					
					<mat-form-field style="color:orange;margin-top:4px">
						<mat-label>Nombre</mat-label>
						<input matInput placeholder="Apartamentos Martín" formControlName="name">
						<mat-icon matSuffix>title</mat-icon>
					</mat-form-field>
					
				</div>
			</div>

			<!--
				<div style="background-color:#f3ffea;text-align:center;">
					<p style="background-color:#f3ffea;text-align:center">
						<mat-form-field style="color:black;margin-top:4px">
							<mat-label>Número mínimo noches</mat-label>
							<input matInput placeholder="nuevo" type="number" min="0" formControlName="minNights">
						</mat-form-field>
					</p>
				</div>

				<p style="background-color:#f3ffea;text-align:center">
					<mat-form-field style="color:black;">
						<mat-label>Capacidad</mat-label>
						<input matInput placeholder="2" type="number">
					</mat-form-field>
					<button mat-button>
						<mat-icon class="material-icons-round">add_circle</mat-icon>
					</button>
				</p>
			-->
			<div class="inputrent">
				<div style="background-color:#f3ffea;text-align:center;">
					<p style="background-color:#f3ffea;text-align:center">
						<mat-form-field style="color:orange;">
							<mat-label>Teléfono</mat-label>
							<span matPrefix>+34 &nbsp;</span>
							<input matInput type="tel" placeholder="626050505" formControlName="phone">
							<mat-icon matSuffix>phone</mat-icon>
						</mat-form-field>
					</p>
				</div>
			</div>
		  </div>
		  
		  
		  
		  <div class="inputsrent">
			<div class="inputrent">
				<p style="background-color:#f3ffea;text-align:center">
					<mat-form-field style="color:black;">
						<mat-label>Web</mat-label>
						<input matInput placeholder="http://www.midominio.es" type="url" formControlName="web">
						<mat-icon matSuffix>web</mat-icon>
					</mat-form-field>
				</p>
			</div>
			<div class="inputrent">
				<p style="background-color:#f3ffea;text-align:center">
					<mat-form-field style="color:black">
						<mat-label>Dirección maps</mat-label>
						<input matInput placeholder="https://www.google.es/maps/..." type="url" formControlName="maps">
						<mat-icon matSuffix>location_on</mat-icon>
					</mat-form-field>
				</p>							
			</div>
		  </div>

		  <div class="inputsrent">
		  	<div class="inputrent">
				<p style="text-align:center;background-color:#f3ffea;">
					<mat-form-field style="color:black;">
						<mat-label>Tipo</mat-label>
						<mat-select [formControl]="type" multiple>
							<mat-select-trigger>
								{{type.value ? type.value[0] : ''}}
									<span *ngIf="type.value?.length > 1" class="example-additional-selection">
									({{type.value.length - 1}} {{type.value?.length === 2 ? 'tipo' : 'tipos'}} más)
									</span>
							</mat-select-trigger>	

							<mat-option *ngFor="let item of listTypeRent" [value]="item" >{{item}}</mat-option>
						</mat-select>
						<mat-icon matSuffix>home</mat-icon>
					</mat-form-field>	
				</p>
			</div>							  
			<div class="inputrent">
				<div style="background-color:#f3ffea;text-align:center;">
					<mat-form-field style="color:black;" >
						<mat-label>Capacidad</mat-label>
						<mat-select [formControl]="capacity" multiple (selectionChange)="createFormArray()">
							<mat-select-trigger>
								{{capacity.value ? capacity.value[0] : ''}}
									<span *ngIf="capacity.value?.length > 1" class="example-additional-selection">
									({{capacity.value.length - 1}} {{capacity.value?.length === 2 ? 'capacidad' : 'capacidades'}} más)
									</span>
							</mat-select-trigger>	

							<mat-option *ngFor="let item of lista" [value]="item" >{{item}} personas</mat-option>
						</mat-select>
						<mat-icon matSuffix>group</mat-icon>
					</mat-form-field>
				</div>
			</div>
		  </div>
		  <p style="margin:10px">
			<mat-accordion >
				<mat-expansion-panel [disabled]="!capacity.value || capacity.value?.length==0 || !type.value || type.value?.length==0">
					<mat-expansion-panel-header style="text-align:center;margin:auto">
						<mat-panel-title style="width:100%;">
							<p style="margin:auto">
							Tarifas
						</p>
						</mat-panel-title>					
					</mat-expansion-panel-header>
					<div style="margin:auto;display:block;width:100%;" *ngIf="listCapacities?.length>0" formArrayName="capacities">
						
							<div *ngFor="let item of listCapacities.controls;let i=index" style="" [formGroupName]="i">
								<div style="text-align:center" >Capacidad para {{capacity.value[i]}} personas</div>
								<div class="inputsprice" >
									
									
									
										<mat-form-field>
											<mat-label>Tipo</mat-label>
											<mat-select formControlName="subtype">
												<mat-option *ngFor="let tipe of type.value" [value]="tipe">{{tipe}}</mat-option>								
											</mat-select>
										</mat-form-field>
									
									
										<mat-form-field>
											<mat-label>Mínimo de noches</mat-label>
											<input matInput type="number" min="0" formControlName="minNights"/>
										</mat-form-field>
									

										<mat-form-field>
											<mat-label>Precio base</mat-label>
											<input matInput type="number" min="0" formControlName="priceBase"/>
										</mat-form-field>

										<mat-form-field>
											<mat-label>Precio noche</mat-label>
											<input matInput type="number" min="0" formControlName="priceNight"/>
										</mat-form-field>
									
									
								</div>
							</div>
					</div>
				</mat-expansion-panel>
			</mat-accordion>
		  </p>

		  <p style="margin:10px" formGroupName="services">
		<mat-accordion>
			<mat-expansion-panel >
				<mat-expansion-panel-header>
					<mat-panel-title style="width:100%">
						<p style="margin:auto">
							Servicios
						</p>
					</mat-panel-title>
					<!--<mat-panel-description>
						Pon tu nombre
					</mat-panel-description>-->
				</mat-expansion-panel-header>
				<div class="services" >
					<div class="subservices">
						<div class="title_services" >
							<div >
								<mat-checkbox formControlName="wifi">Wifi</mat-checkbox>
							</div>
							<div >
								<mat-checkbox formControlName="aa">A.Acondicionado</mat-checkbox>
							</div>
							<div >
								<mat-checkbox formControlName="mascota">Mascota</mat-checkbox>
							</div>
							<div >
								<mat-checkbox formControlName="parking">Parking</mat-checkbox>
							</div>
						</div>
						<div class="title_services" >
							<div >
								<mat-checkbox formControlName="piscina">Piscina</mat-checkbox>
							</div>
							<div >
								<mat-checkbox formControlName="spa">Spa</mat-checkbox>
							</div>
							<div >
								<mat-checkbox formControlName="bar">Bar</mat-checkbox>
							</div>
							<div >
								<mat-checkbox formControlName="restaurante">Restaurante</mat-checkbox>
							</div>
						</div>
					</div>
					<div class="subservices" >
						<div class="title_services " >
							<div >
								<mat-checkbox formControlName="sillaruedas">Acceso silla de ruedas</mat-checkbox>
							</div>
							<div >
								<mat-checkbox formControlName="cuna">Cuna/Parque</mat-checkbox>
							</div>
							<div >
								<mat-checkbox formControlName="fumar">Permitido fumar</mat-checkbox>
							</div>
							
							<div >
								<mat-checkbox>Fumar</mat-checkbox>
							</div>
						</div>
						<div class="title_services" >
							<div >
								<mat-checkbox>Fumar</mat-checkbox>
							</div>
							<div >
								<mat-checkbox>Fumar</mat-checkbox>
							</div>
							<div >
								<mat-checkbox>Fumar</mat-checkbox>
							</div>
							<div >
								<mat-checkbox>Fumar</mat-checkbox>
							</div>
						</div>
					</div>
				</div>
			</mat-expansion-panel>


		</mat-accordion>
	</p>

	<p style="margin:10px">
		<mat-accordion >
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title style="width:100%">
						<p style="margin: auto">Imágenes</p>
					</mat-panel-title>
					<!--<mat-panel-description>
						<input type="file" placeholder="Subir archivos">
					</mat-panel-description>-->
				</mat-expansion-panel-header>

				<div style="width:100%;height: 200px;display:flex;vertical-align:middle;overflow:auto;" (drop)="dropHandler($event)" (dragover)="dragOverHandler($event)">
					<div class="div_absolute" style="position:absolute;height:200px;outline:#676767 1px solid;display:flex;margin:auto;/*box-shadow:1px 1px 1px black, -1px 1px 1px black,1px 1px 15px black inset;*/">
						
					</div>
					<div style="position:absolute;display: flex;vertical-align: middle;justify-content:center;align-items:center;width:'calc(100% - 48px)';min-height:200px" *ngIf="!existsImg">
						<button mat-raised-button  style="margin:auto;background-color:rgba(0,0,0,.8);color:white">Soltar imagen aquí</button>
					</div>
					<div *ngIf="existsImg" style="display:flex;user-select:none">
					<!-- añadir display:flex si es más alta que ancha, necesario 
						para que se vea el icono close en ese tipo de imágenes-->
						<div  style="display: flex;width:150px;position:relative;overflow:hidden;align-items:center;margin:5px" *ngFor="let images of listImages;let j=index">
							<span style="width:100%;height:auto">
								<div  style="width: 100%;height: 100%;overflow:hidden;object-fit: cover;display:flex;justify-content:center" >
									<img [src]="images" style="width:auto;height:auto;overflow:hidden"/>
									<div style="position:absolute;right: 0;background-color:white" (click)="deleteTransfer(j)">
										<mat-icon class="material-icons">
											close
										</mat-icon>
									</div>
								</div>
								
							</span>	
						</div>
					</div>
					
					
				</div>

			</mat-expansion-panel>
		</mat-accordion>
	</p>
	<p style="background-color:#f3ffea;text-align:center;margin:10px;display:block">
		<mat-form-field style="color:black;display:block">
			<mat-label>Detalle</mat-label>
			<textarea matInput placeholder="Escribe aquí"></textarea>
		</mat-form-field>
	</p>
	
	
	<button mat-button style="background-color:rgba(0,0,0,.9);color:white;display:block;width:100%">Guardar</button>
	
	
		</form>
	</div>
	

	
	

	
</div>
